<a href="https://colab.research.google.com/github/ibk25244/su-ai/blob/master/2_useful_functions_sol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- - - 

<font size=6 color='royalblue'>유용한 함수</font>

<font size=5 color='forestgreen'>Useful Functions</font> 

***

<font size=4>**박 진 수**</font> 교수  
Intelligent Data Semantics Lab  
Seoul National University

- - -

>[파이썬 함수의 특징](#scrollTo=kTKKawrPlARg)

>[lambda 함수](#scrollTo=2O0--x_GlASH)

>>[Lab: 일반 함수를 람다 함수로 변환하기](#scrollTo=AbFhVQNHlASZ)

>>[람다 함수를 전달인자로 사용](#scrollTo=VhRZzFezlASc)

>>[Lab: 람다 함수로 정렬하기](#scrollTo=o_ZAl0WP_yt5)

>>>[답 1](#scrollTo=MCKzmUcJc83z)

>>>[답 2](#scrollTo=Jc2ztutzdhwO)

>>>[답 3](#scrollTo=EY2KU6ridkWW)

>>>[답 4](#scrollTo=HDZtcO92dm2v)

>>[람다 함수와 디폴트 딕셔너리](#scrollTo=J7pxF39nlASp)

>[map() 함수](#scrollTo=_kp_WRAClASy)

>>[Lab: 특정 문자열로 끝나는지 여부를 알려주는 불린 리스트 만들기](#scrollTo=XxZWbg1qlATP)

>>[Lab: 영어 대소문자 반전하기](#scrollTo=l5DGC1AVlATR)

>>[Lab: 숫자로 형변환 가능한 문자열만 숫자로 변환하기](#scrollTo=K_VKepR7lATS)

>[filter() 함수](#scrollTo=Lp4Fh0y8lATU)

>>[Lab: 특정 문자열로 시작하는 문자열 추출하기](#scrollTo=ZfSlkZq_lATu)

>>[Lab: 양의 정수만 리스트로 담아 출력하기](#scrollTo=cg9KWlAglATw)

>>[Lab: 5의 배수만 리스트로 담아 출력하기](#scrollTo=SgY8WGutlATx)

>>[Lab: 숫자로 형변환 가능한 문자열만 숫자로 변환하기](#scrollTo=yoB4PuzVlATz)

>[map() 함수와 filter() 함수의 차이](#scrollTo=lpBkQZIJlAT0)

>[reduce() 함수](#scrollTo=crhy4XNNlAT7)

>>[Lab: 모든 정수를 곱한 결과 구하기](#scrollTo=L5roA8YmlAUD)

>[partial() 함수](#scrollTo=DgcChuGblAUE)

>>[Lab: 전달받은 숫자의 제곱의 합을 구하는 함수 만들기](#scrollTo=YipC4VpglAUw)

>[[참고] 기초 함수지만 중요한 함수](#scrollTo=GZmClCY-lAUx)

>>[enumerate() 함수](#scrollTo=P4_YqTNOlAUy)

>>[zip() 함수](#scrollTo=t8uTt34rlAU7)

>>>[Lab: 색깔에 대한 선호도 보여주기](#scrollTo=vIVd7bM6lAVD)

>[종합 실습](#scrollTo=L74DpyyPlAVD)

>>[Lab: CSV 파일을 딕셔너리 자료형으로 읽기](#scrollTo=8D7Q1SWKlAVD)

>>[Lab: Major League Baseball 통계](#scrollTo=fVrdZ6tRlAVF)

>[THE END](#scrollTo=1T54O7b_lAVF)

# 파이썬 함수의 특징

파이썬에서 함수는 변수처럼 사용할 수도 있고, 다른 함수의 전달인자로도 사용할 수 있다.

먼저 함수를 변수처럼 사용하기 위해 다음과 같이 **print()** 함수를 변수에 할당해보자. 이때 함수 이름만 할당한다.

In [ ]:
# print() 함수 이름을 x에 할당한다.
x = print

In [ ]:
# x는 print() 함수를 참조한다.
type(x)

이제부터 변수 ***x***를 **print()** 함수처럼 사용할 수 있다.

In [ ]:
x(f'2^3 = {2 ** 3}')

다른 함수도 변수에 할당해보자.

In [ ]:
i = len    # len() 함수 이름을 i에 할당한다.

In [ ]:
i('파이썬')  # len('파이썬')과 같다.

In [ ]:
i('drum')  # len('drum')과 같다.

이번에는 함수를 다른 함수의 전달인자로 사용하는 예를 살펴보자. 

예를 들어, 다음 함수는 함수를 전달인자로 사용하는 함수다.

In [ ]:
def get_fn(fn, n):
  return fn(n)

In [ ]:
get_fn(len, 'python')

6

그리고 다음과 같이 $n$번째 피보나치 수를 반환하는 함수가 있다고 가정해보자.

In [ ]:
def fibo(n):
  if n <= 1:
    return n
  return fibo(n - 1) + fibo(n - 2)

**참고**. 
- 피보나치 수(Fibonacci numbers)는 첫 번째와 두 번째 항이 **1**이며 그 뒤의 모든 항은 바로 앞 두 항의 합인 수열이다. 처음 여섯 항은 각각 1, 1, 2, 3, 5, 8이다. 
- 피보나치 수의 초기값 및 점화식은 다음과 같이 정의되어 있다.

$$ F_1 = F_2 = 1 $$  
$$ F_n = F_{n-1} + F_{n-2},\;\text{where}\;(n ∈ {3,4,…}) $$

먼저 피보나치 함수를 변수에 할당한다.

In [ ]:
f = fibo

이제 이 함수를 앞서 정의한 함수의 전달인자로 사용한다.

In [ ]:
# 피보나치 수를 반환하는 함수와 피보나치 수를 전달인자로 사용한다.
get_fn(f, 6)

하지만 계산식이 복잡하지 않은 간단한 함수면, 따로 정의하지 않고 익명 함수인 **람다 함수**를 사용하는 것이 편리한 경우가 많다.

In [ ]:
get_fn(lambda n: n ** 5, 2)  # 2 x 2 x 2 x 2 x 2

내장 함수 안에서도 람다 함수를 사용할 수 있다.

In [ ]:
print((lambda n: n ** 5)(2))

# **lambda** 함수

**람다 함수**(lambda function)란?
- 함수를 사용하는 시점에 표현식 형태로 정의하여 바로 사용하는 함수다.

람다 함수를 정의하는 일반적인 형식은 다음과 같다.

<b><pre>lambda [매개변수]: 표현식</pre></b>

특징은 다음과 같다.

- ***매개변수*** 를 설정하면 일반적으로 **위치 매개변수** 형태며 한 개 이상 사용할 수 있다.
    - ***매개변수*** 는 선택 사항이다.
- ***표현식*** 은 계산한 값을 반환한다.
- 람다 함수의 ***표현식*** 은 몇 가지 제약이있다. 
    - ***표현식*** 에는 **return**문 또는 **yield**문을 사용할 수 없다.
    - 조건문이나 순환문을 사용할 수 없다. 
        - 단, 간편 조건문은 사용할 수 있다.
    - ***표현식*** 이 튜플이면 ***표현식*** 을 반드시 괄호 안에 넣어야 한다.
- 람다 함수는 함수 이름이 없기 때문에 익명 함수(anonymous function)라고도 한다.
    - 따라서 여러 번 호출해서 사용하기 보다는 필요한 시점에 한번 사용하는 경우가 많다.

람다 함수는 일반 함수보다 구현할 수 있는 기능은 제한적이지만 일반 함수를 정의하는 것보다 간결할 뿐만 아니라 일반 함수를 사용할 수 없는 곳에서도 사용이 가능하다.

다음과 같은 일반 함수가 있다고 하자.

In [ ]:
def say_anything(anything):
  return f'안녕 {anything * 2}'

In [ ]:
say_anything('파이썬')

앞서 정의한 함수를 람다 함수로 바꿔보자.

In [ ]:
talk = lambda anything: f'안녕 {anything * 2}'

In [ ]:
talk('파이썬')

In [ ]:
talk('초콜릿')

***익명 함수인 람수 함수를 변수에 할당하는 이유는 뭘까?***

앞서 살펴봤듯이 함수 이름을 변수에 할당하면 해당 변수가 할당한 함수를 참조하기 때문에 변수를 마치 함수처럼 사용할 수 있다. 

이러한 파이썬의 특징을 이용하면 익명 함수인 람다 함수도 변수에 할당해서 나중에 다시 불러서 사용할 수 있기 때문에 편리하다. 

물론 람다 함수는 주로 즉석에서 사용하기 때문에 나중에 다시 불러 사용하는 경우가 많지는 않다.

**따라해보기**

In [ ]:
# 람다 함수를 정의해서 변수 c에 할당한다.
c = lambda i: '' if i == 1 else 's'

In [ ]:
for i in range(10):
  print(f'{i} file{c(i)} processed.')

## Lab: 일반 함수를 람다 함수로 변환하기

다음 함수를 람다함수로 바꿔보자.

In [ ]:
# > 삼각형의 넓이를 구하는 함수
def area(b, h):
    """밑변과 높이를 전달받아서 삼각형의 넓이를 구하는 함수다.

    Args:
        b (int | float): 밑변
        h (int | float): 높이

    Returns:
        float: 삼각형의 넓이
    """
    return 0.5 * b * h

In [ ]:
x = area(4, 5)
print(x)

10.0

In [ ]:
# > 삼각형의 넓이를 구하는 람다 함수
x = lambda b, h: 0.5 * b * h
x(4, 5)

10.0

## 람다 함수를 전달인자로 사용

앞서 파이썬은 함수를 변수나 다른 함수의 전달인자로도 사용할 수 있다고 설명했다. 특히 일반 함수의 전달인자로 람다 함수를 사용하는 경우가 종종 있다. 예를 들어, 람다 함수를 **sorted()** 함수나 **list.sort()** 메소드 등에서 매개변수 ***key***의 전달인자로 사용하면 편리할 때가 많다.

문자열, 리스트, 튜플과 같은 시퀀스형을 비교하는 규칙은 다음과 같다. 

1. 비교 연산자는 각 시퀀스형의 첫 번째 객체부터 순차로 비교하며, 
1. 첫 번째 객체가 서로 같으면 그 다음 객체를 비교하고, 
1. 그 다음 객체도 같으면 그 다음 객체를 비교해서, 
1. 서로 다른 객체를 발견할 때까지 순서대로 비교한다. 
1. 만약 서로 다른 객체를 발견하면 비교를 멈추고 그 결과를 반환한다. 
1. 그 이후에 있는 객체들은 비교하지 않는다.

다음 리스트를 오름차순과 내림차순으로 정렬해보자.

In [ ]:
pair = [
    (2, 'a', 'Pineapple'), 
    (1, 'b', 'Orange'), 
    (1, 'a', 'Banana'),
    (2, 'b', 'berry'), 
    (1, 'b', 'grape'), 
    (2, 'a', 'apple')
]

In [ ]:
pair.sort()
pair

[(1, 'a', 'Banana'),
 (1, 'b', 'Orange'),
 (1, 'b', 'grape'),
 (2, 'a', 'Pineapple'),
 (2, 'a', 'apple'),
 (2, 'b', 'berry')]

In [ ]:
pair.sort(reverse=True)
pair

***만약 리스트가 담고 있는 튜플의 첫 번째가 아닌 두 번째나 세 번째 객체를 기준으로 정렬하고 싶으면 어떻게 하면 될까?***

람다 함수를 사용하면 된다.

먼저 람다 함수를 이용하여 앞서 사용한 리스트의 튜플 중 두 번째 객체를 기준으로 오름차순 정렬해보자.

In [ ]:
pair = [
    (2, 'a', 'Pineapple'),
    (1, 'b', 'Orange'),
    (1, 'a', 'Banana'),
    (2, 'b', 'berry'),
    (1, 'b', 'grape'),
    (2, 'a', 'apple')
]

In [ ]:
pair.sort(key=lambda e: (e[1]))
pair

[(2, 'a', 'Pineapple'),
 (1, 'a', 'Banana'),
 (2, 'a', 'apple'),
 (1, 'b', 'Orange'),
 (2, 'b', 'berry'),
 (1, 'b', 'grape')]

## Lab: 람다 함수로 정렬하기

---

앞서 사용한 리스트를 사용해 다음과 같은 방식으로 졍렬해보자.

<pre>pair = [
    (2, 'a', 'Pineapple'), 
    (1, 'b', 'Orange'),
    (1, 'a', 'Banana'),
    (2, 'b', 'berry'),
    (1, 'b', 'grape'), 
    (2, 'a', 'apple')
]</pre>

1. 세 번째 객체를 기준으로 오름차순 정렬한다.
1. 세 번째 객체를 기준으로 대소문자 구분하지 않고 내림차순으로 정렬한다.
1. 두 번째 객체와 첫 번째 객체 순으로 오름차순 정렬한다.
1. 두 번째 객체와 세 번째 객체 순으로 오름차순 정렬한다. 이때 세 번째 객체의 대소문자를 구분하지 않고 정렬한다. 

---

**실행 예**

<pre>>>> pair  # 답 1
[(1, 'a', 'Banana'),
 (1, 'b', 'Orange'),
 (2, 'a', 'Pineapple'),
 (2, 'a', 'apple'),
 (2, 'b', 'berry'),
 (1, 'b', 'grape')]</pre>
 
<pre>>>> pair  # 답 2
[(2, 'a', 'Pineapple'),
 (1, 'b', 'Orange'),
 (1, 'b', 'grape'),
 (2, 'b', 'berry'),
 (1, 'a', 'Banana'),
 (2, 'a', 'apple')]</pre> 

<pre>>>> pair  # 답 3
[(1, 'a', 'Banana'),
 (2, 'a', 'Pineapple'),
 (2, 'a', 'apple'),
 (1, 'b', 'Orange'),
 (1, 'b', 'grape'),
 (2, 'b', 'berry')]</pre>
 
<pre>>>> pair  # 답 4
[(2, 'a', 'apple'),
 (1, 'a', 'Banana'),
 (2, 'a', 'Pineapple'),
 (2, 'b', 'berry'),
 (1, 'b', 'grape'),
 (1, 'b', 'Orange')]</pre>

### 답 1

In [ ]:
pair = [
  (2, 'a', 'Pineapple'), 
  (1, 'b', 'Orange'),
  (1, 'a', 'Banana'),
  (2, 'b', 'berry'),
  (1, 'b', 'grape'), 
  (2, 'a', 'apple')
]

In [ ]:
pair.sort(key=lambda e: (e[-1]))
pair

[(1, 'a', 'Banana'),
 (1, 'b', 'Orange'),
 (2, 'a', 'Pineapple'),
 (2, 'a', 'apple'),
 (2, 'b', 'berry'),
 (1, 'b', 'grape')]

### 답 2

In [ ]:
pair = [
  (2, 'a', 'Pineapple'), 
  (1, 'b', 'Orange'),
  (1, 'a', 'Banana'),
  (2, 'b', 'berry'),
  (1, 'b', 'grape'), 
  (2, 'a', 'apple')
]

In [ ]:
pair.sort(key=lambda e: (e[-1].lower()), reverse=True)
pair

[(2, 'a', 'Pineapple'),
 (1, 'b', 'Orange'),
 (1, 'b', 'grape'),
 (2, 'b', 'berry'),
 (1, 'a', 'Banana'),
 (2, 'a', 'apple')]

### 답 3

In [ ]:
pair = [
  (2, 'a', 'Pineapple'), 
  (1, 'b', 'Orange'),
  (1, 'a', 'Banana'),
  (2, 'b', 'berry'),
  (1, 'b', 'grape'), 
  (2, 'a', 'apple')
]

In [ ]:
pair.sort(key=lambda e: (e[1], e[0]))
pair

[(1, 'a', 'Banana'),
 (2, 'a', 'Pineapple'),
 (2, 'a', 'apple'),
 (1, 'b', 'Orange'),
 (1, 'b', 'grape'),
 (2, 'b', 'berry')]

### 답 4

In [ ]:
pair = [
  (2, 'a', 'Pineapple'), 
  (1, 'b', 'Orange'),
  (1, 'a', 'Banana'),
  (2, 'b', 'berry'),
  (1, 'b', 'grape'), 
  (2, 'a', 'apple')
]

In [ ]:
pair.sort(key=lambda e: (e[1], e[-1].lower()))
pair

[(2, 'a', 'apple'),
 (1, 'a', 'Banana'),
 (2, 'a', 'Pineapple'),
 (2, 'b', 'berry'),
 (1, 'b', 'grape'),
 (1, 'b', 'Orange')]

## 람다 함수와 디폴트 딕셔너리

람다 함수의 매개변수는 선택 사항이라 생략이 가능하다. 다음 예는 디폴트 딕셔너리를 생성할 때 람다 함수를 사용해 기본값을 다른 값으로 설정하는 것을 보여준다.

In [ ]:
from collections import defaultdict

int_dd = defaultdict(int)
str_dd = defaultdict(str)
minus_one_dd = defaultdict(lambda: -1)
msg_dd = defaultdict(lambda: '메시지가 없습니다.')
zero_zero_dd = defaultdict(lambda: (0, 0))

In [ ]:
# 키가 존재하지 않아 매핑값으로 기본값을 할당한다.
i = int_dd['나이']
j = str_dd['이름']
x = minus_one_dd['제품번호']
y = zero_zero_dd['좌표']
z = msg_dd['메시지']
i, j, x, y, z

In [ ]:
msg_dd

In [ ]:
# 빈 딕셔너리라 키가 없어 오류가 난다.
plain_d = {}
d = plain_d['이름']

# **map()** 함수

**map() 함수**란?

- 함수와 순회형(iterable) 자료를 전달인자로 받아서 순회형이 담고 있는 각각의 객체를 모두 해당 함수에 적용한 결과를 **map** 순회자로 묶어서 반환한다.

***

[**map(*function*, *iterable*, ...)**](https://docs.python.org/3/library/functions.html#map)  
Return an iterator that applies *function* to every item of *iterable*, yielding the results. If additional *iterable* arguments are passed, *function* must take that many arguments and is applied to the items from all iterables in parallel. With multiple iterables, the iterator stops when the shortest iterable is exhausted. For cases where the function inputs are already arranged into argument tuples, see [itertools.starmap](https://docs.python.org/3/library/itertools.html#itertools.starmap).

***

특징은 다음과 같다.

- **for**문을 사용하지 않아도 되기 때문에 코드가 간결해진다.
    - 물론 리스트 축약으로도 해결이 가능하다.
- **map** 순회자를 반환하기 때문에 리스트 등으로 형변환한 후 사용할 수 있다.

**map()** 함수가 어떤 경우에 유용한지 알아보자.

다음 예는 시퀀스형 자료가 담고 있는 객체들의 길이를 리스트로 반환하는 함수다.

In [ ]:
def item_length(seq):
  L = []
  for i in seq:
    L.append(len(i))
  return L

In [ ]:
L = ['Python', 'Java', 'C++', 'R']
x = item_length(L)
print(x)

앞의 경우 **map()** 함수를 사용하면 **item_length()** 함수 없이 다음과 같이 간단하게 코드를 작성할 수 있다.

In [ ]:
L = ['Python', 'Java', 'C++', 'R']

# 리스트 L이 담고 있는 객체 각각에 len() 함수를 적용한 결과를 리스트로 변환한다.
list(map(len, L))

**map()** 함수가 반환한 값은 순회자이기 때문에 그 자체로는 내용을 확인할 수 없다.

In [ ]:
L = ['Python', 'Java', 'C++', 'R']

# 리스트 L이 담고 있는 객체 각각에 len() 함수를 적용한다.
x = map(len, L)

In [ ]:
# x의 자료형을 확인한다.
type(x)

In [ ]:
# x를 출력해서 결과를 확인한다.
print(x)

***x***는 **map** 순회자이기 때문에 그 자체로는 결과를 확인할 수 없어 출력을 위해서는 다음과 같이 자료형 변환을 해줘야 한다.

In [ ]:
list(x)

물론 순회형(iterable) 객체를 사용하는 다른 함수의 전달인자로 활용할 때는 형변환을 해주지 않아도 된다.

이번에는 리스트가 담고 있는 정수 각각을 제곱한 결과를 **람다 함수**와 **map()** 함수를 사용해서 작성해보자.

In [ ]:
L = list(range(1, 10))
list(map(lambda i: i ** 2, L))

두 개 이상의 순회형 자료에도 적용이 가능하다.

In [ ]:
L1, L2, L3 = [1, 2, 3, 4], [2, 3], [3, 4, 5, 6]
list(map(lambda x, y, z: x + y + z, 
         L1, L2, L3))

## Lab: 특정 문자열로 끝나는지 여부를 알려주는 불린 리스트 만들기

---

- 아래 문자열들을 담고 있는 튜플을 생성한 후 출력한다.
    - **'string', 'list', 'dict', 'tuple', 'set'**
- **map()** 함수를 사용하여 방금 만든 튜플의 문자열이 **'t'**로 끝나는지 여부를 '참' 또는 '거짓'으로 보여주는 리스트를 반환한다.

---

**실행 예**

<pre>> python ends_t.py
('string', 'list', 'dict', 'tuple', 'set')
[False, True, True, False, True]</pre>

In [ ]:
t = 'string', 'list', 'dict', 'tuple', 'set'
print(t)
x = list(map(lambda i: i.endswith('t'), t))
print(x)

('string', 'list', 'dict', 'tuple', 'set')
[False, True, True, False, True]

## Lab: 영어 대소문자 반전하기

- - -

다음 순서로 프로그램을 구현한다.

1. 영어 문자열을 입력받아 소문자는 대문자로, 대문자는 소문자로 변환한 후 각 문자를 리스트에 담아 출력하는 코드를 **map()** 함수를 사용하여 구현한다.

1. 그리고 나서 이 리스트를 문자열로 바꾼 후 촐력한다. 바뀐 문자열은 입력받은 영어의 대소문자가 바뀐 문자열이다.

- - -

**실행 예**

<pre>
> python reverse_case.py
영어 문장을 입력하세요...: Right Way to Python
['r', 'I', 'G', 'H', 'T', ' ', 'w', 'A', 'Y', ' ', 'T', 'O', ' ', 'p', 'Y', 'T', 'H', 'O', 'N']
rIGHT wAY TO pYTHON
</pre>

In [ ]:
s = input('영어 문장을 입력하세요...: ')
x = list(map(lambda i: i.swapcase(), s))
print(x)
s = ''.join(x)
print(s)

영어 문장을 입력하세요...: Right Way to Python
['r', 'I', 'G', 'H', 'T', ' ', 'w', 'A', 'Y', ' ', 'T', 'O', ' ', 'p', 'Y', 'T', 'H', 'O', 'N']
rIGHT wAY TO pYTHON

## Lab: 숫자로 형변환 가능한 문자열만 숫자로 변환하기

---

정수와 문자열을 함께 담고 있는 리스트의 모든 객체 중 **정수**로 형변환이 가능한 객체들은 정수로 변환하고 그렇지 않은 문자열은 **None**을 변환하여 리스트에 담아 출력하는 프로그램을 **map()** 함수를 사용하여 구현한다.

---

**실행 예**

<pre>> python str_to_int_map.py
[1, '2', 3, 'four', '5']
[1, 2, 3, None, 5]</pre>

In [ ]:
def to_int(i):
  '''개별 객체를 정수형으로 변환한다.'''
  if isinstance(i, str) and i.isdecimal():
    return int(i)
  elif isinstance(i, int):
    return i
  else:
    return None

L = [1, '2', 3, 'four', '5']
print(L)
x = map(to_int, L)
print(list(x))

[1, '2', 3, 'four', '5']
[1, 2, 3, None, 5]

# **filter()** 함수

**filter()** 함수란?

- 함수와 순회형(iterable) 자료를 전달인자로 받아서 순회형이 담고 있는 각각의 객체를 모두 해당 함수에 적용한 결과가 '참(**True**)'인 객체만 골라 **filter** 순회자로 묶어서 반환한다.

***

[**filter(_function_, _iterable_)**](https://docs.python.org/3/library/functions.html#filter)  
Construct an iterator from those elements of *iterable* for which *function* returns true. *iterable* may be either a sequence, a container which supports iteration, or an iterator. If *function* is **None**, the identity function is assumed, that is, all elements of iterable that are false are removed.

Note that **filter**(*function, iterable*) is equivalent to the generator expression **(item for item in iterable if function(item))** if function is not **None** and **(item for item in iterable if item)** if function is **None**.

See [itertools.filterfalse()](https://docs.python.org/3/library/functions.html?highlight=filter#filter) for the complementary function that returns elements of *iterable* for which *function* returns false.

***

특징은 다음과 같다.

- **for**문을 사용하지 않아도 되기 때문에 코드가 간결해진다.
- 조건에 맞는 객체만 필터링할 때 유용하게 사용할 수 있다.
- **filter** 순회자를 반환하기 때문에 리스트 등으로 형변환한 후 사용할 수 있다.

**filter()** 함수가 어떤 경우에 유용한지 알아보자.

다음 예는 시퀀스형 자료가 담고 있는 정수 중 홀수만 튜플로 반환하는 함수다.

In [ ]:
def odd_only(seq):
  odd = []
  for i in seq:
    if i % 2 == 1:
      odd.append(i)
  return tuple(odd)

In [ ]:
t = tuple(range(10))
x = odd_only(t)
print(x)

앞의 경우 **filter()** 함수를 사용하면 **odd_only()** 함수 없이 다음과 같이 간단하게 코드를 작성할 수 있다.

In [ ]:
t = tuple(range(10))
tuple(filter(lambda i: i % 2 == 1, t))

**filter()** 함수가 반환한 값은 순회자이기 때문에 그 자체로는 내용을 확인할 수 없다.

In [ ]:
t = tuple(range(10))
x = filter(lambda i: i % 2 == 1, t)

In [ ]:
# x의 자료형을 확인한다.
type(x)

In [ ]:
# x를 출력해서 결과를 확인한다.
print(x)

***x***는 **filter** 순회자이기 때문에 그 자체로는 결과를 확인할 수 없어 출력을 위해서는 다음과 같이 자료형 변환을 해줘야 한다.

In [ ]:
tuple(x)

이번에는 딕셔너리를 필터링해보자.

In [ ]:
grade = [
    {'id': '111', 'point': 10},
    {'id': '112', 'point': 5},
    {'id': '113', 'point': 7},
    {'id': '114', 'point': 9},
    {'id': '115', 'point': 3}
]

In [ ]:
list(filter(lambda i: i['point'] > 8, grade))

[{'id': '111', 'point': 10}, {'id': '114', 'point': 9}]

물론 순회형(iterable) 객체를 사용하는 다른 함수의 전달인자로 활용될 때는 형변환을 해주지 않아도 된다.

## Lab: 특정 문자열로 시작하는 문자열 추출하기

---

- 아래 문자열들을 담고 있는 튜플을 생성한 후 출력한다.
    - **'string', 'list', 'dict', 'tuple', 'set'**
- **filter()** 함수를 사용하여 방금 만든 튜플의 문자열 중 **'s'**로 시작하는 문자열을 튜플로 반환한다.

---

**실행 예**

<pre>> python starts_s.py
('string', 'list', 'dict', 'tuple', 'set')
('string', 'set')</pre>

In [ ]:
t = 'string', 'list', 'dict', 'tuple', 'set'
print(t)
x = tuple(filter(lambda x: x.startswith('s'), t))
print(x)

('string', 'list', 'dict', 'tuple', 'set')
('string', 'set')

## Lab: 양의 정수만 리스트로 담아 출력하기

- - -

**-100** 이상 **100** 이하의 정수 중 임의로 **10**개를 뽑아 저장하고 이 리스트 중 **0**보다 큰 정수만 튜플로 담아서 출력하는 프로그램을 **filter()** 함수를 사용하여 구현한다.

- - -

**힌트**

- [random.**sample**(*population, k*)](https://docs.python.org/3/library/random.html?highlight=sample#random.sample)를 사용해서 임의의 숫자를 생성한다.
    - Return a *k* length list of unique elements chosen from the *population* sequence or set. 
    - Used for random sampling without replacement.


**실행 예** : 다음 결과는 매번 다를 수 있다.

<pre>> python pos_ints.py
임의의 10개 정수: [-14, 13, 51, -82, -87, 81, -6, 63, 73, -36]
0보다 큰 정수: (13, 51, 81, 63, 73)</pre>

In [ ]:
import random

rand_list = random.sample(range(-100, 101), k=10)
print('임의의 10개 정수:', rand_list)

x = filter(lambda i: i > 0, rand_list)
print('0보다 큰 정수:', tuple(x))

임의의 10개 정수: [34, -78, 48, -68, 10, 50, -97, 26, 76, -69]
0보다 큰 정수: (34, 48, 10, 50, 26, 76)

## Lab: 5의 배수만 리스트로 담아 출력하기

- - -

**0** 이상 **200** 이하의 정수 중 임의로 **20**개를 뽑아 저장하고 이 리스트 중 **5**의 배수만 튜플로 담아서 출력하는 프로그램을 **filter()** 함수를 사용하여 구현한다.

- - -
**힌트**

- [random.**sample**(*population, k*)](https://docs.python.org/3/library/random.html?highlight=sample#random.sample)를 사용해서 임의의 숫자를 생성한다.
    - Return a *k* length list of unique elements chosen from the *population* sequence or set. 
    - Used for random sampling without replacement.

**실행 예** : 다음 결과는 매번 다를 수 있다.

<pre>> python multiple_of_5.py
임의의 20개 정수: [175, 191, 159, 75, 182, 78, 4, 184, 70, 47, 105, 98, 27, 173, 113, 71, 180, 193, 187, 37]
5의 배수: (175, 75, 70, 105, 180)</pre>

In [ ]:
import random

rand_list = random.sample(range(0, 201), k=20)
print('임의의 20개 정수:', rand_list)

x = filter(lambda i: i % 5 == 0, rand_list)
print('5의 배수:', tuple(x))

임의의 20개 정수: [94, 13, 117, 191, 10, 197, 172, 184, 19, 30, 65, 101, 74, 129, 95, 54, 126, 44, 176, 132]
5의 배수: (10, 30, 65, 95)

## Lab: 숫자로 형변환 가능한 문자열만 숫자로 변환하기

---

정수와 문자열을 함께 담고 있는 리스트의 모든 객체 중 정수와 **정수**로 형변환이 가능한 객체들만 정수로 변환하여 리스트에 담아 출력하는 프로그램을 **filter()** 함수를 사용하여 구현한다. 

---

**실행 예**

<pre>> python str_to_int_filter.py
[1, '2', 3, 'four', '5']
[1, 2, 3, 5]</pre>

In [ ]:
def to_int(i):
  '''개별 객체를 정수형으로 변환한다.'''
  if isinstance(i, str) and i.isdecimal():
    return int(i)
  elif isinstance(i, int):
    return i
  else:
    return None

L = [1, '2', 3, 'four', '5']
print(L)
x = map(to_int, filter(to_int, L))
print(list(x))

[1, '2', 3, 'four', '5']
[1, 2, 3, 5]

# **map()** 함수와 **filter()** 함수의 차이

- **map()** 함수는 전달받은 순회형의 객체마다 함께 전달받은 함수를 적용한 결과를 담은 **map** 순화자를 반환한다.

- **filter()** 함수는 전달받은 순회형의 객체마다 함께 전달받은 함수를 적용한 결과가 '참(**True**)'인 것만 골라 담은 filter 순회자를 반환한다.

즉, **map()** 함수의 실행 결과는 '순회형의 모든 객체에 함수를 적용한 결과'를 모은 것이고, **filter()** 함수의 실행 결과는 '순회형의 모든 객체에 함수를 적용한 결과가 참인 것'을 모은 것이다.

보다 확실하게 이해하기 위해 다음 예를 살펴보자.

In [ ]:
t = 'abcde', 'efghi', 'ijklm'
t_map = map(lambda i: 'e' in i, t)
t_filter = filter(lambda i: 'e' in i, t)

In [ ]:
print(list(t_map))
print(list(t_filter))

[True, True, False]
['abcde', 'efghi']

**map()** 함수에 조건문인 **if**문을 사용해서 필터 기능을 넣을 수는 있다. 단, 이 경우 반드시 **else**문을 작성해서 조건에 맞지 않는 것도 함께 처리해야 한다.

In [ ]:
t = 'abcde', 'efghi', 'ijklm'
t_filter = filter(lambda i: 'e' in i, t)
t_map_if = map(lambda i: i if 'e' in i else None, t)

In [ ]:
print(list(t_filter))
print(list(t_map_if))

['abcde', 'efghi']
['abcde', 'efghi', None]

**map()**의 결과는 '순회형의 모든 객체에 함수를 적용한 결과'를 모은 것이고, **filter()**의 결과는 '순회형의 모든 객체에 함수를 적용한 결과가 참인 것'을 모은 것이라는 점을 기억하자.

# **reduce()** 함수

**functools.reduce()** 함수란?

- 두 개의 전달인자를 처리하는 함수와 순회형(iterable) 자료를 전달인자로 받아서 순회형이 담고 있는 객체를 순서대로 왼쪽부터 오른쪽으로 누적한 결과를 하나의 통합한 값으로 반환한다.

리스트와 같은 순회형 자료의 객체에 하나씩 적용해서 모든 값을 통합한 결과를 반환할 때 유용하다.

***

[functools.**reduce(*function, iterable[, initializer]*)**](https://docs.python.org/3/library/functools.html#functools.reduce)  
Apply *function* of two arguments cumulatively to the items of *iterable*, from left to right, so as to reduce the iterable to a single value. For example, **reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])** calculates **((((1+2)+3)+4)+5)**. The left argument, *x*, is the accumulated value and the right argument, *y*, is the update value from the *iterable*. If the optional *initializer* is present, it is placed before the items of the *iterable* in the calculation, and serves as a default when the *iterable* is empty. If *initializer* is not given and iterable contains only one item, the first item is returned.


Roughly equivalent to:
```python
def reduce(function, iterable, initializer=None):
    it = iter(iterable)
    if initializer is None:
        value = next(it)
    else:
        value = initializer
    for element in it:
        value = function(value, element)
    return value
```

See [itertools.accumulate()](https://docs.python.org/3/library/itertools.html#itertools.accumulate) for an iterator that yields all intermediate values.
***

**functools.reduce()** 함수가 어떤 경우에 유용한지 알아보자.

앞서 파이썬 문서에서 설명한 예제를 사용해보자.

In [ ]:
from functools import reduce

L = [1,  2,  3,  4,  5]
reduce(lambda i, j:  i + j,  L)

In [ ]:
reduce(lambda i, j:  i + j,  L, 5)

20

**reduce()**가 없다면 다음과 같이 해야 한다.

In [ ]:
def sum_numbers(seq, initializer=0):
  total = initializer
  for i in seq:
    total += i
  return total

In [ ]:
L = [1, 2, 3, 4, 5]
sum_numbers(L)

15

In [ ]:
sum_numbers(L, 5)

20

## Lab: 모든 정수를 곱한 결과 구하기

- - -

아래 정수를 담고 있는 튜플을 생성한 후 출력한다.
- **2, 3, 4, 5, 6, 7, 8, 9**

**reduce()** 함수를 사용하여 방금 만든 튜플의 모든 정수를 곱한 결과를 출력한다.

- - -

**실행 예**

<pre>> python multiply_all.py
(2, 3, 4, 5, 6, 7, 8, 9)
362,880</pre>

In [ ]:
t = tuple(range(2, 10))
print(t)
x = reduce(lambda i, j: i * j, t)
print(f'{x:,}')

(2, 3, 4, 5, 6, 7, 8, 9)
362,880

# **partial()** 함수

**functools.partial()** 함수란?

- 전달인자로 받은 함수에 그 함수의 위치 전달인자나 키워드 전달인자를 적용한 새로운 **partial** 객체를 반환한다.

***

[functools.<b>partial(<i>func, /, \*args, \**keywords</i>)</b>](https://docs.python.org/3/library/functools.html?highlight=partial#functools.partial)    
Return a new *partial* object which when called will behave like *func* called with the positional arguments *args* and keyword arguments *keywords*. If more arguments are supplied to the call, they are appended to *args*. If additional keyword arguments are supplied, they extend and override *keywords*. Roughly equivalent to:

```python
def partial(func, /, *args, **keywords):
    def newfunc(*fargs, **fkeywords):
        newkeywords = {**keywords, **fkeywords}
        return func(*args, *fargs, **newkeywords)
    newfunc.func = func
    newfunc.args = args
    newfunc.keywords = keywords
    return newfunc
```


The **partial()** is used for partial function application which “freezes” some portion of a function’s arguments and/or keywords resulting in a new object with a simplified signature. For example, **partial()** can be used to create a callable that behaves like the **int()** function where the base argument defaults to two:

```python
>>> from functools import partial
>>> basetwo = partial(int, base=2)
>>> basetwo.__doc__ = 'Convert base 2 string to an int.'
>>> basetwo('10010')
18
```

***

특징은 다음과 같다.

- 함수를 일부 기능만 사용할 떄 유용하다.
- 지정한 전달인자만 적용하는 함수를 만들어 사용할 수 있기 때문에 함수를 실행할 때 전달인자를 따로 지정할 필요가 없다.

**functools.partial()** 함수가 어떤 경우에 유용한지 알아보자.

다음 예를 **print()** 함수의 매개변수 ***sep***에 기본값인 공백 **' '** 대신 콤마로 분리하기 위해 **', '**를 적용하는 함수를 만든다.

In [ ]:
from functools import partial

cprint = partial(print, sep=', ')

cprint(1, 2, 3, 4, 5)
print(1, 2, 3, 4, 5)

In [ ]:
# print() 함수를 대표 형식으로 출력한다.
print

In [ ]:
# cprint() 함수를 대표 형식으로 출력한다.
cprint

In [ ]:
# print() 함수의 자료형을 확인핟다.
type(print)

In [ ]:
# cprint 함수의 자료형을 확인한다.
type(cprint)

이번에는 **sorted()** 함수의 매개변수 ***key***에 대소문자 구분없이 정렬하도록 하는 람다 함수를 지정하고, 정렬 방식을 기본값인 오름차순 대신 내림차순으로만 적용하는 함수를 만들어 본다.

In [ ]:
t = 'Pineapple', 'berry', 'Orange', 'apple', 'grape', 'Banana'
print(sorted(t))

In [ ]:
from functools import partial

my_sorted = partial(sorted, key=str.lower)
my_rsorted = partial(sorted, key=str.lower, reverse=True)

print(my_sorted(t))
print(my_rsorted(t))

마지막으로 사용자 함수를 정의하고 이 함수의 일부만 사용하는 함수를 만들어 보자.

다음 함수는 임의의 숫자를 전달받은 후 그 숫자를 지정한 수의 거듭제곱으로 계산한 값들을 모두 합해서 반환하는 함수다. 거듭제곱으로 숫자를 지정하지 않으면 기본값인 1이 적용된다.

In [ ]:
def sum_of_powers(*args, power=1):
  result = 0
  for arg in args:
    result += arg ** power
  return result

In [ ]:
# > def sum_of_powers(*args, power=1):
# 위치 전달인자는 세 개와 선택 매개변수의 기본값인 1을 사용해서 함수를 호출한다.
x = sum_of_powers(1, 3, 5)
print(x)

In [ ]:
# > def sum_of_powers(*args, power=1):
# 위치 전달인자는 두 개와 선택매개 변수에 
# 키워드 전달인자 값을 2로 해서 함수를 호출한다.
x = sum_of_powers(1, 3, 5, 7, power=2)
print(x)

In [ ]:
# > def sum_of_powers(*args, power=1):
# 위치 전달인자는 네 개와 
# 선택매개 변수에 키워드 전달인자 값을 3으로 해서 
# 함수를 호출한다.
x = sum_of_powers(2, 3, power=3)
print(x)

## Lab: 전달받은 숫자의 제곱의 합을 구하는 함수 만들기

- - -

이번에는 **functools.partial()** 함수를 사용해서 **sum_of_powers()** 함수로부터 임의의 숫자를 전달받는 위치 전달인자만 사용하는 함수를 구현한다. 이 함수는 전달받은 숫자의 제곱의 합을 구하는 함수다.

- - -

**실행 예**

<pre>>>> sum_of_squares(1, 3, 5, 7)  # 키워드 매개변수 power가 없다.
84</pre>

In [ ]:
def sum_of_powers(*args, power=1):
  result = 0
  for arg in args:
    result += arg ** power
  return result

from functools import partial
sum_of_squares = partial(sum_of_powers, power=2)
sum_of_squares(1, 3, 5, 7)

84

# [참고] 기초 함수지만 중요한 함수

자세한 내용은 < 바로 쓰는 파이썬: 기초 편 > 참조

## **enumerate()** 함수

**enumerate()** 함수를 사용하는 형식은 다음과 같다.

<b><pre>enumerate(순회형, start=0)</pre></b>

다음과 같은 특징이 있다.

- ***순회형*** 자료를 전달인자로 받아, ***순회형*** 이 담은 개별 객체와 각 객체의 순서(인덱스 번호)를 **(순번, 객체)** 형식의 쌍으로 순회할 수 있는 열거형(enumerate) 객체를 반환한다.

- ***start*** 는 첫 번째 객체의 **시작 번호**다. 
    - 선택해서 사용할 수 있는 ***start*** 의 기본값은 **0**이지만 다른 값으로 대체할 수 있다.

In [ ]:
x = enumerate('abcdefg', start=1)

In [ ]:
# x의 자료형을 확인한다.
type(x)

In [ ]:
# x를 출력해서 결과를 확인한다.
print(x)

***x*** 는 **enumerate** 순회자이기 때문에 그 자체로는 결과를 확인할 수 없어 출력을 위해서는 다음과 같이 자료형 변환을 해줘야 한다.

In [ ]:
list(x)

In [ ]:
d = dict(enumerate('abcdefg', 101))
print(d)

## **zip()** 함수

**zip()** 함수를 사용하는 형식은 다음과 같다.

<b><pre>zip(*순회형)</pre></b>

다음과 같은 특징이 있다.

- 두 개 이상의 ***순회형*** 객체를 받아 각 ***순회형*** 의 개별 객체가 튜플인 순회자를 반환한다. ***i*** 번째 튜플은 각 ***순회형*** 전달인자의 ***i*** 번째 객체를 담고 있다.

- ***순회형*** 앞의 __*__는 **0** 또는 그 이상 불특정 다수의 위치 전달인자를 받아서 처리하는 위치 전달인자 패킹 연산자다.

- 전달인자가 하나면, 한 개의 객체만 있는 튜플 순회자를 반환한다. 

- 만약 전달인자가 없으면(**0**개면), 빈 순회자를 반환한다.

- ***순회형*** 전달인자 중 가장 길이가 짧은 전달인자의 객체 전부 사용하면 순회자는 멈춘다.
    - 즉, 가장 적은 개수를 담은 ***순회형*** 을 기준으로 묶음 처리를 한다.

In [ ]:
x = ('a', 'b', 'c')       # 튜플(길이=3)
y = ['i', 'j', 'k', 'l']  # 리스트(길이=4)
z = '12345'               # 문자열(길이=5)

k = zip(x, y, z)

In [ ]:
# zip() 함수가 반환한 객체의 자료형은 zip 순회자다.
type(k)

zip

In [ ]:
# zip() 함수가 반환한 객체의 값을 확인한다.
print(k)

<zip object at 0x7fa5d4c75588>

In [ ]:
# > x = ('a', 'b', 'c')       # 튜플(길이=3)
# > y = ['i', 'j', 'k', 'l']  # 리스트(길이=4)
# > z = '12345'               # 문자열(길이=5)
# 리스트로 형변환한다.
list(zip(x, y, z))  # zip() 함수는 튜플 형식으로 반환한다.

In [ ]:
# > x = ('a', 'b', 'c')       # 튜플(길이=3)
# > z = '12345'               # 문자열(길이=5)
# 튜플로 형변환한다.
tuple(zip(x, z))    # zip() 함수는 튜플 형식으로 반환한다.

In [ ]:
# > x = ('a', 'b', 'c')       # 튜플(길이=3)
# > y = ['i', 'j', 'k', 'l']  # 리스트(길이=4)
# > z = '12345'               # 문자열(길이=5)
# zip() 함수는 튜플 형식으로 반환한다.
for t in zip(x, y, z):   
    print(t)

In [ ]:
# zip() 함수가 반환한 객체의 자료형은 zip 순회자다.
type(zip(x, y, z))

In [ ]:
# zip() 함수가 반환한 zip 순회자는 사실상 튜플 형식이다.
type(t)

tuple

시퀀스형 언패킹 연산자 __*__를 사용하면 묶은 것(zip)을 반대로 풀(unzip) 수도 있다.

In [ ]:
k = [('a', 1), ('b', 2), ('c', 3)]
x, y = zip(*k)  # 시퀀스형 전달인자 언패킹

In [ ]:
x

('a', 'b', 'c')

In [ ]:
y

(1, 2, 3)

### Lab: 색깔에 대한 선호도 보여주기

---

색깔에 대한 선호도를 조사하여 ***colors*** 와 ***counts*** 의 두 리스트에 동일한 순서로 다음과 같이 저장한다.

- <pre>colors = ['yellow', 'white', 'red', 'plum', 'pink', 'blue', 'black']</pre>
- <pre>counts = [54, 31, 100, 87, 32, 98, 5]</pre>

즉, 'yellow'를 좋아한다고 응답한 사람은 총 **54**명이다.


두 리스트를 선언하고 색깔별로 좋아하는 사람의 숫자를 출력하는 코드를 구현한다.

---

**실행 예**

<pre>> python color_preference.py
색깔 yellow을(를) 좋아하는 사람은 54명입니다.
색깔 white을(를) 좋아하는 사람은 31명입니다.
색깔 red을(를) 좋아하는 사람은 100명입니다.
색깔 plum을(를) 좋아하는 사람은 87명입니다.
색깔 pink을(를) 좋아하는 사람은 32명입니다.
색깔 blue을(를) 좋아하는 사람은 98명입니다.
색깔 black을(를) 좋아하는 사람은 5명입니다.</pre>

In [ ]:
colors = ['yellow', 'white', 'red', 'plum', 'pink', 'blue', 'black']
counts = [54, 31, 100, 87, 32, 98, 5]

for i, j in zip(colors, counts):
  print(f'색깔 {i}을(를) 좋아하는 사람은 {j}명입니다.')

색깔 yellow을(를) 좋아하는 사람은 54명입니다.
색깔 white을(를) 좋아하는 사람은 31명입니다.
색깔 red을(를) 좋아하는 사람은 100명입니다.
색깔 plum을(를) 좋아하는 사람은 87명입니다.
색깔 pink을(를) 좋아하는 사람은 32명입니다.
색깔 blue을(를) 좋아하는 사람은 98명입니다.
색깔 black을(를) 좋아하는 사람은 5명입니다.

# 종합 실습

## Lab: CSV 파일을 딕셔너리 자료형으로 읽기

실습을 위해 저장해둔 파일을 내려받도록 한다.

In [ ]:
!wget -O table.csv -q --show-progress --no-check-certificate 'https://docs.google.com/uc?export=download&id=1Jd5qL03WGukUlrAw4uG2A6tbhQmuYKkl'

table.csv           100%[===================>]   6.44K  --.-KB/s    in 0s

- - -
파일의 첫 부분을 살펴보면 다음과 같다.

```
Date,Start,High,Low,End,Volume
17.07.17,2545000,2551000,2526000,2532000,157238
17.07.14,2550000,2554000,2521000,2524000,164780
17.07.13,2504000,2547000,2502000,2528000,320683
17.07.12,2450000,2500000,2442000,2494000,189723
17.07.11,2432000,2450000,2414000,2450000,194356
...
```

파일의 전체 내용을 하나의 큰 리스트, 파일의 각 행은 딕셔너리 형태로 담는 프로그램을 구현한다.
- - -

**실행 예**

<pre>> python parse_table.py
[{'Date': '17.07.17',
  'Start': '2545000',
  'High': '2551000',
  'Low': '2526000',
  'End': '2532000',
  'Volume': '157238'},
 {'Date': '17.07.14',
  'Start': '2550000',
  'High': '2554000',
  'Low': '2521000',
  'End': '2524000',
  'Volume': '164780'},
 ...</pre>

In [ ]:
lines = open('table.csv', mode='r').read().splitlines()

# 첫 번째 줄에서 열 이름을 가져온다. 나중에 딕셔너리의 키로 사용한다.
col_names = lines[0].split(',') 

result = list(map(lambda i: dict(zip(col_names, i.split(','))), lines[1:]))

In [ ]:
# 결과의 첫 5행만 출력한다.
result[:5]

[{'Date': '17.07.17',
  'End': '2532000',
  'High': '2551000',
  'Low': '2526000',
  'Start': '2545000',
  'Volume': '157238'},
 {'Date': '17.07.14',
  'End': '2524000',
  'High': '2554000',
  'Low': '2521000',
  'Start': '2550000',
  'Volume': '164780'},
 {'Date': '17.07.13',
  'End': '2528000',
  'High': '2547000',
  'Low': '2502000',
  'Start': '2504000',
  'Volume': '320683'},
 {'Date': '17.07.12',
  'End': '2494000',
  'High': '2500000',
  'Low': '2442000',
  'Start': '2450000',
  'Volume': '189723'},
 {'Date': '17.07.11',
  'End': '2450000',
  'High': '2450000',
  'Low': '2414000',
  'Start': '2432000',
  'Volume': '194356'}]

## Lab: Major League Baseball 통계

실습을 위해 저장해둔 파일을 내려받도록 한다.

In [ ]:
!wget -O MLB_batter.csv -q --show-progress --no-check-certificate 'https://docs.google.com/uc?export=download&id=1dBi2m1wc_MQj2PypiXa57BZdeBMIrK5p'

MLB_batter.csv      100%[===================>]   6.38K  --.-KB/s    in 0s

- - -
파일의 첫 부분을 살펴보면 다음과 같다.

```
Player,Team,Pos,AB,H,HR,RBI,BB,SO,AVG
Altuve. J,HOU,2B,590,204,24,81,58,84,0.346
Blackmon. C,COL,CF,644,213,37,104,65,135,0.331
Garcia. A,CWS,RF,518,171,18,80,33,111,0.33
Murphy. D,WSH,2B,534,172,23,93,52,77,0.322
Turner. J,LAD,3B,457,147,21,71,59,56,0.322
...
```

파일 데이터에서 다음 정보를 리스트 형식으로 출력한다.

1. **(Q1)** 홈런(HR)이 **30**개 이상인 선수 중 타율(AVG)이 **0.300**을 넘는 선수들의 이름을 리스트로 담아서 출력한다.

1. **(Q2)** 삼진(SO)이 **130**개가 넘는 선수 중 안타(H)가 **100**개 미만인 선수들의 이름을 리스트로 담아서 출력한다.

- - -

**실행 예**

<pre>> python mbl_batting.py
Q1:
['Blackmon. C', 'Votto. J', 'Ozuna. M', 'Arenado. N', 'Trout. M', 'Abreu. J', 'Zimmerman. R', 'Bradley Jr.', 'Souza Jr.']

Q2:
['Davis. C', 'Gallo. J']</pre>

In [ ]:
lines = open('MLB_batter.csv', mode='r').read().splitlines()

col_names = lines[0].split(',')

result = list(map(lambda i: dict(zip(col_names, i.split(','))), 
                  lines[1:]))

q1 = list(map(lambda i: i['Player'], 
              filter(lambda i: int(i['HR']) >= 30 
                     and float(i['AVG']) > 0.3, result)))

q2 = list(map(lambda i: i['Player'], 
              filter(lambda i: int(i['SO']) > 130 
                     and int(i['H']) < 100, result)))

print('Q1:', q1, sep='\n', end='\n\n')
print('Q2:', q2, sep='\n')

Q1:
['Blackmon. C', 'Votto. J', 'Ozuna. M', 'Arenado. N', 'Trout. M', 'Abreu. J', 'Zimmerman. R', 'Bradley Jr.', 'Souza Jr.']

Q2:
['Davis. C', 'Gallo. J']

---
# <font color='red'>THE END</font>