<a href="https://colab.research.google.com/github/ibk25244/su-ai/blob/master/3_comprehension_sol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- - -

<font size=6 color='royalblue'>리스트/딕셔너리/세트 축약</font>

<font size=5 color='forestgreen'>List / Dictionary / Set Comprehension</font> 

* * *

**<font size=4>박 진 수</font>** 교수  
Intelligent Data Semantics Lab  
Seoul National University

- - -

>[리스트 축약](#scrollTo=bEpyriftZAdq)

>>[Lab: 리스트 축약으로 리스트 생성하기](#scrollTo=p779QrFsZAeB)

>>[Lab: 윤년 계산기](#scrollTo=hr01mSgDZAeF)

>>[Lab: 단어 길이로 정렬하는 함수](#scrollTo=-n2mzsRiZAeJ)

>>[중첩 리스트 축약](#scrollTo=wlEGfHF6ZAeN)

>>[Lab : 중첩 리스트 축약 형식으로 변환](#scrollTo=K1Yo1PGiZAeb)

>[딕셔너리 축약](#scrollTo=6QxT5VyZZAeg)

>>[Lab: 한영사전을 영한사전으로 변환하기](#scrollTo=7YVoyisaZAem)

>>[중첩 딕셔너리 축약](#scrollTo=pLnnBw6LZAeq)

>[세트 축약](#scrollTo=OD-984CSZAer)

>>[Lab: 폴더에서 특정 확장명을 가진 파일만 출력하기](#scrollTo=aaA0OPZrZAe1)

>>[중첩 세트 축약](#scrollTo=59XsR77WZAe4)

>[THE END](#scrollTo=OwfuNrIYZAe5)

# 1. 리스트 축약

**리스트 축약**(list comprehension)이란?

- 순회형 자료의 객체들을 활용하여 리스트를 생성하는 기법 중 하나로, 아주 간결한 문법적 구조를 제공하는 장점이 있다. 

파이썬에서 리스트 축약을 작성하는 일반적인 형식은 다음과 같다.

<b><pre>[표현식 for 변수 in 순회형 <if 불린-표현식>]</pre></b>
    
특징은 다음과 같다.

- 순환문을 사용하여 리스트의 객체를 생성하는 기법이다.

- 대괄호(**[ ]**)로 묶은 ***표현식*** 과 **for** 순환문을 통해 간단하게 리스트를 생성할 수 있으며, 필요에 따라 조건문을 넣을 수도 있다.

- ***표현식*** 은 ***변수*** 혹은 ***변수*** 의 객체를 생성하는 식이 온다.
    
- 선택 사항인 조건문을 통해 조건을 충족하는 객체만 선별하는 것이 가능하다.

**for**문을 사용해서 **1**부터 **9**까지의 정수를 담고 있는 리스트를 생성해보자.

In [ ]:
int_list = []
for i in range(1, 10):
  int_list.append(i)
else:
  print(int_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

앞과 같은 결과가 나오는 코드를 리스트 축약으로 작성해보자.

In [ ]:
[i for i in range(1, 10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

이번에는 **for**문을 사용해서 **1**부터 **9**까지의 정수를 문자열로 변환한 후 리스트에 추가해보자.

In [ ]:
str_L = []
for i in range(1, 10):
  str_L.append(str(i))
else:
  print(str_L)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

앞과 같은 결과가 나오는 코드를 리스트 축약으로 작성해보자.

In [ ]:
[str(i) for i in range(1, 10)]

['1', '2', '3', '4', '5', '6', '7', '8', '9']

위의 두 예에서 일반 **for**문으로 리스트를 생성하면 다음과 같은 형식을 가진다는 것을 알 수 있다.

<b><pre>tmp = []
for 변수 in 순회형:
    tmp.append(표현식)</pre></b>
    
- 여기서 ***표현식*** 은 ***변수*** 거나 ***변수*** 의 객체를 생성하는 식이다. 

앞의 예에서는 정수형을 문자열로 변환하는 **str(i)**이 ***표현식*** 이다.

리스트 축약을 사용하면 일반 **for**문을 사용한 것과 비교했을 때 문법적으로 매우 간결할 뿐만 아니라 ***tmp*** 변수를 생성하지 않아도 된다.

<b><pre>[표현식 for 변수 in 순회형 <if 불린-표현식>]</pre></b>

이번에는 조건문을 사용해서 **1**부터 **9**까지의 정수 중 홀수만 문자열로 변환해서 리스트를 일반 **for**문으로 생성해보자.

In [ ]:
str_odd_L = []
for i in range(1, 10):
    if i % 2 == 1:
        str_odd_L.append(str(i))
else:
    print(str_odd_L)

조건문을 사용해서 리스트를 생성할 때 일반 **for**문을 사용하면 다음과 같은 형식을 가진다.

<b><pre>tmp = []
for 변수 in 순회형:
    if 불린-표현식:
        tmp.append(표현식)</pre></b>

리스트 축약으로 같은 내용을 표현하면 다음과 같다.

<b><pre>[표현식 for 변수 in 순회형 if 불린-표현식]</pre></b>

앞서 조건문을 사용하여 작성한 코드를 리스트 축약 형식으로 작성해보자.

In [ ]:
[str(i) for i in range(1, 10) if i % 2 == 1]

['1', '3', '5', '7', '9']

## Lab: 리스트 축약으로 리스트 생성하기

---

1. **1** 이상 **9** 이하의 정수 중 홀수만 담은 리스트를 리스트 축약으로 작성해서 결과를 출력한다.
1. #1에서 만든 리스트 각 숫자의 제곱을 담은 리스트를 리스트 축약으로 작성해서 결과를 출력한다.

---

**실행 예**

<pre>> python simple_lc.py
[1, 3, 5, 7, 9]
[1, 9, 25, 49, 81]</pre>

In [ ]:
odd_ints = [i for i in range(10) if i % 2 == 1]
squares = [pow(i, 2)for i in odd_ints]

print(odd_ints)
print(squares)

[1, 3, 5, 7, 9]
[1, 9, 25, 49, 81]

## Lab: 윤년 계산기

- - -

**2000**년에서 **3000**년 사이(둘 다 포함)의 윤년 계산을 한 후 그 결과를 리스트에 담아 출력한다.

윤년 계산 규칙은 다음과 같다.(<https://ko.wikipedia.org/wiki/윤년>)

- (규칙 1) 그 해의 숫자가 **4**로 나누어 떨어지는 해는 윤년으로 한다.
    - 예) 1988년, 1992년, 1996년, 2004년, 2008년, 2012년, ...
- (규칙 2) 그 해의 숫자가 **4**로 나누어지지만 **100**으로도 나누어지면 평년으로 한다.
    - 예) 1900년, 2100년, 2200년, 2300년, 2500년, ...
- (규칙 3)그 해의 숫자가 **100**으로 나누어지지만 **400**으로도 나누어지면 윤년으로 한다.
    - 예) 1600년, 2000년, 2400년, ...

- - -

**실행 예**

<pre>> python leap_year.py
[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084, 2088, 2092, 2096, 2104, 2108, 2112, 2116, 2120, 2124, 2128, 2132, 2136, 2140, 2144, 2148, 2152, 2156, 2160, 2164, 2168, 2172, 2176, 2180, 2184, 2188, 2192, 2196, 2204, 2208, 2212, 2216, 2220, 2224, 2228, 2232, 2236, 2240, 2244, 2248, 2252, 2256, 2260, 2264, 2268, 2272, 2276, 2280, 2284, 2288, 2292, 2296, 2304, 2308, 2312, 2316, 2320, 2324, 2328, 2332, 2336, 2340, 2344, 2348, 2352, 2356, 2360, 2364, 2368, 2372, 2376, 2380, 2384, 2388, 2392, 2396, 2400, 2404, 2408, 2412, 2416, 2420, 2424, 2428, 2432, 2436, 2440, 2444, 2448, 2452, 2456, 2460, 2464, 2468, 2472, 2476, 2480, 2484, 2488, 2492, 2496, 2504, 2508, 2512, 2516, 2520, 2524, 2528, 2532, 2536, 2540, 2544, 2548, 2552, 2556, 2560, 2564, 2568, 2572, 2576, 2580, 2584, 2588, 2592, 2596, 2604, 2608, 2612, 2616, 2620, 2624, 2628, 2632, 2636, 2640, 2644, 2648, 2652, 2656, 2660, 2664, 2668, 2672, 2676, 2680, 2684, 2688, 2692, 2696, 2704, 2708, 2712, 2716, 2720, 2724, 2728, 2732, 2736, 2740, 2744, 2748, 2752, 2756, 2760, 2764, 2768, 2772, 2776, 2780, 2784, 2788, 2792, 2796, 2800, 2804, 2808, 2812, 2816, 2820, 2824, 2828, 2832, 2836, 2840, 2844, 2848, 2852, 2856, 2860, 2864, 2868, 2872, 2876, 2880, 2884, 2888, 2892, 2896, 2904, 2908, 2912, 2916, 2920, 2924, 2928, 2932, 2936, 2940, 2944, 2948, 2952, 2956, 2960, 2964, 2968, 2972, 2976, 2980, 2984, 2988, 2992, 2996]</pre>

In [ ]:
leaps = [year for year in range(2000, 3001) 
         if year % 4 == 0 and year % 100 != 0 or year % 400 == 0]

print(leaps)

[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084, 2088, 2092, 2096, 2104, 2108, 2112, 2116, 2120, 2124, 2128, 2132, 2136, 2140, 2144, 2148, 2152, 2156, 2160, 2164, 2168, 2172, 2176, 2180, 2184, 2188, 2192, 2196, 2204, 2208, 2212, 2216, 2220, 2224, 2228, 2232, 2236, 2240, 2244, 2248, 2252, 2256, 2260, 2264, 2268, 2272, 2276, 2280, 2284, 2288, 2292, 2296, 2304, 2308, 2312, 2316, 2320, 2324, 2328, 2332, 2336, 2340, 2344, 2348, 2352, 2356, 2360, 2364, 2368, 2372, 2376, 2380, 2384, 2388, 2392, 2396, 2400, 2404, 2408, 2412, 2416, 2420, 2424, 2428, 2432, 2436, 2440, 2444, 2448, 2452, 2456, 2460, 2464, 2468, 2472, 2476, 2480, 2484, 2488, 2492, 2496, 2504, 2508, 2512, 2516, 2520, 2524, 2528, 2532, 2536, 2540, 2544, 2548, 2552, 2556, 2560, 2564, 2568, 2572, 2576, 2580, 2584, 2588, 2592, 2596, 2604, 2608, 2612, 2616, 2620, 2624, 2628, 2632, 2636, 2640, 2644, 2648, 2652, 2656, 2660, 2664, 2668, 2672, 2676, 2680, 2684, 2688, 2692, 2696, 2704, 2708, 2712, 2716, 2720, 2724, 2728, 2732, 2736, 2740, 2744, 2748, 2752, 2756, 2760, 2764, 2768, 2772, 2776, 2780, 2784, 2788, 2792, 2796, 2800, 2804, 2808, 2812, 2816, 2820, 2824, 2828, 2832, 2836, 2840, 2844, 2848, 2852, 2856, 2860, 2864, 2868, 2872, 2876, 2880, 2884, 2888, 2892, 2896, 2904, 2908, 2912, 2916, 2920, 2924, 2928, 2932, 2936, 2940, 2944, 2948, 2952, 2956, 2960, 2964, 2968, 2972, 2976, 2980, 2984, 2988, 2992, 2996]

## Lab: 단어 길이로 정렬하는 함수

- - -

한 개 이상의 단어를 담고 있는 리스트나 튜플을 전달받아서 단어의 길이가 긴 순서부터 정렬해서 리스트로 반환하는 함수 **sort_by_length()**를 구현해보자. 

만약 단어의 길이가 같다면 단어를 내림차순으로 정렬한다.

- - -

**실행 예**

<span style='font-family: courier;'>>>> colors = 'red', 'blue', 'green', 'brown', 'gray'</span>

<span style='font-family: courier;'>>>> sort_by_word_length(colors)<br/>
['green', 'brown', 'gray', 'blue', 'red']</span>

<span style='font-family: courier;'>>>> instruments = ['피아노', '바이올린', '첼로', '기타', '드럼']</span>

<span style='font-family: courier;'>>>> sort_by_word_length(instruments)<br/>
['바이올린', '피아노', '첼로', '드럼', '기타']</span>

In [ ]:
# --- 리스트 축약 : 단어 길이로 정렬하는 함수 구현하기(sort_by_word_length_lc.py)
def sort_by_word_length_lc(words):
  t = [(len(w), w) for w in words]

  # sort() 메소드는 먼저 길이를 비교해서 만약 길이가 같다면 단어를 비교해서 정렬한다.
  t.sort(reverse=True)

  return [w for length, w in t]

In [ ]:
# >>> 테스트 코드 <<<
colors = 'red', 'blue', 'green', 'brown', 'gray'
sort_by_word_length_lc(colors)

['green', 'brown', 'gray', 'blue', 'red']

In [ ]:
# >>> 테스트 코드 <<<
instruments = ['피아노', '바이올린', '첼로', '기타', '드럼']
sort_by_word_length_lc(instruments)

['바이올린', '피아노', '첼로', '드럼', '기타']

## 중첩 리스트 축약

축약 기법도 중첩으로 사용할 수 있다. 중첩되는 축약형으로는 딕셔너리 외에도 리스트나 세트 축약이 올 수 있다. 

중첩 리스트 축약(nested list comprehension)을 작성하는 일반적인 형식은 다음과 같다.

<b><pre>[표현식 for 변수-1 in 순회형 \<if 불린-표현식-1\>  
    for 변수-2 in 순회형 \<if 불린-표현식-2\>  
        for 변수-3 in 순회형 \<if 불린-표현식-3\> 
            ...
                for 변수-N in 순회형 \<if 불린-표현식-N\>]</pre><b>

다음 예는 ***표현식*** 에 문자열 결합을 사용해서 성적 조합을 리스트로 생성한 결과를 보여준다.

In [ ]:
[letter + sign for letter in 'ABCD' for sign in '+0-']

['A+', 'A0', 'A-', 'B+', 'B0', 'B-', 'C+', 'C0', 'C-', 'D+', 'D0', 'D-']

In [ ]:
# --- 일반식
pass_grades = []
for letter in 'ABCD':
  for sign in '+0-':
    pass_grades.append(letter + sign)
else:
  print(pass_grades)

['A+', 'A0', 'A-', 'B+', 'B0', 'B-', 'C+', 'C0', 'C-', 'D+', 'D0', 'D-']

다음 코드는 **2**단부터 **9**단까지의 구구단 계산식을 문자열로 담고 있는 리스트를 생성한 결과를 보여준다.

In [ ]:
[f'{x} x {y} = {x * y}' for x in range(2, 10) 
                             for y in range(1, 10)]

['2 x 1 = 2',
 '2 x 2 = 4',
 '2 x 3 = 6',
 '2 x 4 = 8',
 '2 x 5 = 10',
 '2 x 6 = 12',
 '2 x 7 = 14',
 '2 x 8 = 16',
 '2 x 9 = 18',
 '3 x 1 = 3',
 '3 x 2 = 6',
 '3 x 3 = 9',
 '3 x 4 = 12',
 '3 x 5 = 15',
 '3 x 6 = 18',
 '3 x 7 = 21',
 '3 x 8 = 24',
 '3 x 9 = 27',
 '4 x 1 = 4',
 '4 x 2 = 8',
 '4 x 3 = 12',
 '4 x 4 = 16',
 '4 x 5 = 20',
 '4 x 6 = 24',
 '4 x 7 = 28',
 '4 x 8 = 32',
 '4 x 9 = 36',
 '5 x 1 = 5',
 '5 x 2 = 10',
 '5 x 3 = 15',
 '5 x 4 = 20',
 '5 x 5 = 25',
 '5 x 6 = 30',
 '5 x 7 = 35',
 '5 x 8 = 40',
 '5 x 9 = 45',
 '6 x 1 = 6',
 '6 x 2 = 12',
 '6 x 3 = 18',
 '6 x 4 = 24',
 '6 x 5 = 30',
 '6 x 6 = 36',
 '6 x 7 = 42',
 '6 x 8 = 48',
 '6 x 9 = 54',
 '7 x 1 = 7',
 '7 x 2 = 14',
 '7 x 3 = 21',
 '7 x 4 = 28',
 '7 x 5 = 35',
 '7 x 6 = 42',
 '7 x 7 = 49',
 '7 x 8 = 56',
 '7 x 9 = 63',
 '8 x 1 = 8',
 '8 x 2 = 16',
 '8 x 3 = 24',
 '8 x 4 = 32',
 '8 x 5 = 40',
 '8 x 6 = 48',
 '8 x 7 = 56',
 '8 x 8 = 64',
 '8 x 9 = 72',
 '9 x 1 = 9',
 '9 x 2 = 18',
 '9 x 3 = 27',
 '9 x 4 = 36',
 '9 x 5 = 45',
 '9 x 6 = 54',
 '9 x 7 = 63',
 '9 x 8 = 72',
 '9 x 9 = 81']

나중에 나온 **for**문은 앞의 **for**문 결과를 사용할 수 있다.

In [ ]:
[(x, y, z) for x in range(1, 10)
               for y in range(x + 1, 10)              
                   for z in range(y + 1, 10, x + 1)]

[(1, 2, 3),
 (1, 2, 5),
 (1, 2, 7),
 (1, 2, 9),
 (1, 3, 4),
 (1, 3, 6),
 (1, 3, 8),
 (1, 4, 5),
 (1, 4, 7),
 (1, 4, 9),
 (1, 5, 6),
 (1, 5, 8),
 (1, 6, 7),
 (1, 6, 9),
 (1, 7, 8),
 (1, 8, 9),
 (2, 3, 4),
 (2, 3, 7),
 (2, 4, 5),
 (2, 4, 8),
 (2, 5, 6),
 (2, 5, 9),
 (2, 6, 7),
 (2, 7, 8),
 (2, 8, 9),
 (3, 4, 5),
 (3, 4, 9),
 (3, 5, 6),
 (3, 6, 7),
 (3, 7, 8),
 (3, 8, 9),
 (4, 5, 6),
 (4, 6, 7),
 (4, 7, 8),
 (4, 8, 9),
 (5, 6, 7),
 (5, 7, 8),
 (5, 8, 9),
 (6, 7, 8),
 (6, 8, 9),
 (7, 8, 9)]

## Lab : 중첩 리스트 축약 형식으로 변환

---

다음 코드를 리스트 축약 기법을 사용해서 재작성하시오.

---

**실행 예**

In [ ]:
sku = []
for gender in 'FM':                       # Female, Male
  for size in 'SMLX':                   # Small, Medium, Large eXtra large
    if gender == 'F' and size == 'X':
      continue
    for color in 'WGRB':              # White, Green, Red, Black
      sku.append(gender + size + color)
else:
  print(sku)

['FSW', 'FSG', 'FSR', 'FSB', 'FMW', 'FMG', 'FMR', 'FMB', 'FLW', 'FLG', 'FLR', 'FLB', 'MSW', 'MSG', 'MSR', 'MSB', 'MMW', 'MMG', 'MMR', 'MMB', 'MLW', 'MLG', 'MLR', 'MLB', 'MXW', 'MXG', 'MXR', 'MXB']

In [ ]:
sku = [gender + size + color 
         for gender in 'FM' 
           for size in 'SMLX' if not (gender == 'F' and size == 'X')
             for color in 'WGRB']
print(sku)

['FSW', 'FSG', 'FSR', 'FSB', 'FMW', 'FMG', 'FMR', 'FMB', 'FLW', 'FLG', 'FLR', 'FLB', 'MSW', 'MSG', 'MSR', 'MSB', 'MMW', 'MMG', 'MMR', 'MMB', 'MLW', 'MLG', 'MLR', 'MLB', 'MXW', 'MXG', 'MXR', 'MXB']

In [ ]:
sku = [gender + size + color 
         for gender in 'FM' 
           for size in 'SMLX' 
             for color in 'WGRB'
               if not (gender == 'F' and size == 'X')]
print(sku)

['FSW', 'FSG', 'FSR', 'FSB', 'FMW', 'FMG', 'FMR', 'FMB', 'FLW', 'FLG', 'FLR', 'FLB', 'MSW', 'MSG', 'MSR', 'MSB', 'MMW', 'MMG', 'MMR', 'MMB', 'MLW', 'MLG', 'MLR', 'MLB', 'MXW', 'MXG', 'MXR', 'MXB']

# 딕셔너리 축약

**딕셔너리 축약**(dictionary comprehension)이란?

- 순회형 자료의 객체들을 활용하여 딕셔너리를 생성하는 기법 중 하나로, 리스트 축약처럼 간결한 구문을 사용한다.

리스트 축약 형식과 비슷하지만 대괄호 대신 중괄호를 사용하며 키와 매핑값을 처리하는 점이 다르다. 딕셔너리 축약을 작성하는 일반적인 형식은 다음과 같다.

<b><pre>{키-표현식:매핑값-표현식 for 변수 in 순회형 [if 불린-표현식]}</pre></b>

특징은 다음과 같다.

- 순환문을 사용하여 딕셔너리의 객체를 생성하는 기법이다.

- 중괄호(**{ }**)로 묶은 ***표현식*** 과 **for**문을 통해 간단하게 딕셔너리를 생성할 수 있으며, 필요에 따라 조건문을 넣을 수도 있다.

- ***키-표현식*** 과 ***매핑값-표현식*** 은 ***변수*** 혹은 ***변수*** 의 객체를 생성하는 식이 온다.

- ***변수*** 는 하나의 변수일 수도 있고 복합 변수일 수도 있다. 복합 변수인 경우 보통 (키, 매핑값) 형식의 튜플을 사용한다.

- 선택 사항인 조건문을 통해 조건을 충족하는 객체만 선별하는 것이 가능하다.

**-9**부터 **9**까지의 정수를 키로, **-9**부터 **9**까지 정수의 제곱을 매핑값으로 하는 딕셔너리를 딕셔너리 축약으로 생성해보자.

In [ ]:
{i: pow(i, 2) for i in range(-9, 10)}

{-9: 81,
 -8: 64,
 -7: 49,
 -6: 36,
 -5: 25,
 -4: 16,
 -3: 9,
 -2: 4,
 -1: 1,
 0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81}

만약 일반 **for**문을 사용한다면 앞의 코드는 다음과 같다.

In [ ]:
d = {}
for i in range(-9, 10):
  d[i] = i ** 2
else:
  print(d)

{-9: 81, -8: 64, -7: 49, -6: 36, -5: 25, -4: 16, -3: 9, -2: 4, -1: 1, 0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

## Lab: 한영사전을 영한사전으로 변환하기

- - -
다음 테이블을 간단한 한영사전으로 만들어 그 내용을 출력한다.

단어|뜻
-|-
사과|apple
블루베리|blueberry
딸기|strawberry
키위|kiwi
바나나|banana
포도|grape
자두|plum


그 다음 이 한영사전을 딕셔너리 축약을 사용해 영한사전으로 바꾼 후 **sorted()** 함수를 사용하여 영어 알파벳 오름차순 순으로 출력한다.

- - -

**실행 예**

<pre>> koreng_dict_to_engkor_dict_lc
{'사과': 'apple', '블루베리': 'blueberry', '딸기': 'strawberry', '키위': 'kiwi', '바나나': 'banana', '포도': 'grape', '자두': 'plum'}

[('strawberry', '딸기'), ('plum', '자두'), ('kiwi', '키위'), ('grape', '포도'), ('blueberry', '블루베리'), ('banana', '바나나'), ('apple', '사과')]</pre>

In [ ]:
# 한영사전을 만들어 출력한다.
koreng = dict(
  사과='apple', 블루베리='blueberry', 딸기='strawberry', 
  키위='kiwi', 바나나='banana', 포도='grape', 자두='plum'
)
koreng

{'딸기': 'strawberry',
 '바나나': 'banana',
 '블루베리': 'blueberry',
 '사과': 'apple',
 '자두': 'plum',
 '키위': 'kiwi',
 '포도': 'grape'}

In [ ]:
# 딕셔너리 축약으로 한영사전을 영한사전으로 변환한 후 오름차순으로출력한다.
engkor = {v: k for k, v in koreng.items()}
sorted(engkor.items(), reverse=True)

[('strawberry', '딸기'),
 ('plum', '자두'),
 ('kiwi', '키위'),
 ('grape', '포도'),
 ('blueberry', '블루베리'),
 ('banana', '바나나'),
 ('apple', '사과')]

## 중첩 딕셔너리 축약

리스트 축약처럼 딕셔너리 축약도 중첩으로 사용할 수 있다. 중첩되는 축약형으로는 딕셔너리 외에도 리스트나 세트 축약이 올 수 있다. 


중첩 딕셔너리 축약(nested dictionary comprehension)을 작성하는 일반적인 형식은 다음과 같다.

<b><pre>{키-표현식:매핑값-표현식
    for 변수-1 in 순회형 [if 불린-표현식-1]
        for 변수-2 in 순회형 [if 불린-표현식-2]
            for 변수-3 in 순회형 [if 불린-표현식-3]
                ...
                    for 변수-N in 순회형 [if 불린-표현식-N]}</pre></b>

# 세트 축약

**세트 축약**(set comprehension)이란?

- 순회형 자료의 객체들을 활용하여 세트를 생성하는 기법 중 하나로, 리스트/딕셔너리 축약처럼 간결한 구문을 사용한다.


딕셔너리 축약 형식과 비슷하지만 ***표현식*** 이 키와 매핑값 쌍으로 되어 있지 않다는 점이 다르다. 세트 축약을 작성하는 일반적인 형식은 다음과 같다.

<b><pre>{표현식 for 변수 in 순회형 [if 불린-표현식]}</pre></b>

특징은 다음과 같다.

- 순환문을 사용하여 세트의 객체를 생성하는 기법이다.

- 중괄호(**{ }**)로 묶은 ***표현식*** 과 **for**을 통해 간단하게 세트를 생성할 수 있으며, 필요에 따라 조건문을 넣을 수도 있다.

- ***표현식*** 은 ***변수*** 혹은 ***변수***의 객체를 생성하는 식이 온다.

- 선택 사항인 조건문을 통해 조건을 충족하는 객체만 선별하는 것이 가능하다.

먼저 **-3**에서 **3**까지 정수의 제곱을 리스트 축약 방식으로 생성해보자.

In [ ]:
# 리스트 축약
[i * i for i in (-3, -2, -1, 0, 1, 2, 3)]

[9, 4, 1, 0, 1, 4, 9]

이번에는 세트 축약으로 **-3**에서 **3**까지 정수의 제곱을 세트로 만들어 보자.

In [ ]:
# 세트 축약
{i * i for i in (-3, -2, -1, 0, 1, 2, 3)}

{0, 1, 4, 9}

세트이기 때문에 중복 값을 포함하고 있지 않다.

**-9**에서 **9**까지 정수를 생성하고 각 정수의 절댓값을 축약 기법을 사용하여 리스트와 세트로 각각 만들어보자.

In [ ]:
# 리스트 축약
x = [abs(i) for i in range(-9, 10)]  

# 세트 축약
y = {abs(i) for i in range(-9, 10)}  

print(x)
print(y)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

## Lab: 폴더에서 특정 확장명을 가진 파일만 출력하기

- - -

사용자로부터 파일의 확장명을 입력받아 해당 확장명을 가진 파일 이름만 출력하는 프로그램을 세트 축약을 사용하여 구현한다. 

이 때 대소문자 구분은 하지 않는다.

- - -

**힌트**
- [os.**listdir**(*path='.'*)](https://docs.python.org/3/library/os.html?highlight=listdir#os.listdir)
  + Return a list containing the names of the entries in the directory given by *path*.

**실행 예**

<pre>> python file_finder.py
파일 확장명을 입력하세요: CSV
{'mnist_test.csv', 'california_housing_train.csv', 'mnist_train_small.csv', 'california_housing_test.csv'}</pre>

In [ ]:
import os

ext = input('파일 확장명을 입력하세요: ')

files = {file for file in os.listdir('sample_data')
         if file.lower().endswith(('.' + ext.lower()))}
print(files)

파일 확장명을 입력하세요: CSV
{'mnist_test.csv', 'mnist_train_small.csv', 'california_housing_test.csv', 'california_housing_train.csv'}

## 중첩 세트 축약

세트 축약도 다른 축약형처럼 중첩이 가능하다. 마찬가지로 중첩되는 축약형으로는 세트 외에도 리스트나 딕셔너리 축약이 올 수 있다. 

중첩 세트 축약(nested set comprehension)을 작성하는 일반적인 형식은 다음과 같다.

<b><pre>{표현식 for 변수-1 in 순회형 [if 불린-표현식-1] 
    for 변수-2 in 순회형 [if 불린-표현식-2]
        for 변수-3 in 순회형 [if 불린-표현식-3] 
            ...
                for 변수-N in 순회형 [if 불린-표현식-N]}</pre></b>

---
# <font color='red'>THE END</font>