<a href="https://colab.research.google.com/github/ibk25244/su-ai/blob/master/6lab(colab)_movielens_1m.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- - -
<font size=6 color='tomato'>판다스 실습 : 영화 평점 데이터 탐색적 자료 분석</font>

<font size=5 color='purple'>Lab: MovieLens</font> 

* * *

**<font size=4>박 진 수</font>** 교수  
Intelligent Data Semantics Lab  
Seoul National University

- - -

>[데이터 전처리](#scrollTo=Es74FLWRzWU9)

>>[데이터 파일 내려받기](#scrollTo=tRbV0l4Hhy6I)

>>[데이터 불러오기](#scrollTo=PS3C0JBAzWU-)

>>[데이터 병합](#scrollTo=rBdfg-GezWVm)

>[데이터 탐색 : 탐색적 통계 분석](#scrollTo=vtULlUfSzWV0)

>>[성별로 각 영화의 평균 평점 계산](#scrollTo=VuwtHAvlzWV1)

>>[영화별 총 평점과 평균 평점 계산](#scrollTo=XDa1oCGZzWWA)

>>[1,000명 이상의 사용자가 평가한 영화 평점 분석](#scrollTo=yNR5Vv9mzWWH)

>>>[여성에게 평균적으로 높은 평점을 받은 영화순으로 데이터 정렬](#scrollTo=za3sG7vXzWWW)

>>>[남성에게 평균적으로 높은 평점을 받은 영화순으로 데이터 정렬](#scrollTo=d5u_loE4zWWc)

>>>[성별 평균 평점 차이 구하기](#scrollTo=sSSuknQ4zWWe)

>>[사용자들의 호불호가 확실히 나뉘는 영화 Top 10](#scrollTo=gLpAKJaRzWWh)

>>[Lab: 탐색적 통계 분석](#scrollTo=7TNohnaGqa_Q)

>>>[문제 1 : 각 사용자 별로 평가한 영화의 수에 대한 기초통계량을 구한다.](#scrollTo=xrdQaOWwqa_R)

>>>[문제 2 : 평가한 영화의 수가 50개 이상인 사용자들에 대한 기초통계량을 구한다.](#scrollTo=QAWwM3daqa_U)

>[데이터 분석 : 도표 그리기](#scrollTo=eZYzMs0EzWWk)

>>[사용자 평가가 가장 많은 영화의 평점 분포](#scrollTo=rg6mU7RwzWWt)

>>>[요약통계량 계산](#scrollTo=ml1SELqVzWW7)

>>[Lab: 기술 통계량 도표 그리기](#scrollTo=4icvf32Xqa_z)

>>>[문제 1 : 300명 이상의 사용자가 평가한 영화 중 평점이 가장 다양한 영화를 선택하여 다음 통계치를 구해보자.](#scrollTo=xl0Huh_iqa_z)

>>>[문제 2 : 영화의 장르 분포를 도표로 작성하기](#scrollTo=ml4TPO_aqa_3)

>>>[문제 3 : 사용자에 관한 다음 통계치를 구해보자.](#scrollTo=KY7jVA_Aqa_7)

>[THE END](#scrollTo=DM5r7VxPqbAB)

# 데이터 전처리

미국 미네소타대학교의 [GroupLens 연구소](https://grouplens.org)는 [MovieLens 웹사이트](https://movielens.org)의 사용자들로부터 수집한 [영화 평가 데이터](https://grouplens.org/datasets/movielens/)를 제공하고 있다. 
- [MovieLens 20M Dataset](https://grouplens.org/datasets/movielens/20m/) : 138,000명의 사용자가 27,000개의 영화에 대한 2,000만개의 평점 데이터로 이루어져 있어 연구용 데이터로 활용하고 있다.
- [MovieLens Latest Datasets](https://grouplens.org/datasets/movielens/latest/) : 최신 데이터 세트로 구성되어 있으며 시간이 지나면 바뀔 수 있다.
    - [Small Dataset](https://grouplens.org/datasets/movielens/latest/) : 600명의 사용자가 9,000개의 영화에 대한 10만개의 평점 데이터로 이루어져 있다.
    - [Full Dataset](https://grouplens.org/datasets/movielens/latest/) : 280,000명의 사용자가 58,000개의 영화에 대한 2,700만개의 평점 데이터로 이루어져 있다.
- [MovieLens 1M Dataset](https://grouplens.org/datasets/movielens/1m/) : 6,000명의 사용자가 4,000개의 영화에 대한 100만개의 평점 데이터로 이루어져 있다. 
    - 해당 자료는 사용자 정보(성별, 나이, 직업, 우편번호), 영화 정보(영화 제목, 장르), 영화 평점으로 구성되어 있다.


이 실습에서는 데이터 크기가 실습하기에 적당한 **MovieLens 1M Dataset**을 사용한다.

## 데이터 파일 내려받기

1. 아래 링크를 클릭해서 'ml-1m.zip' 파일을 로컬 PC에 저장한다.
    - <https://grouplens.org/datasets/movielens/1m/>


2. 파일을 내려 받은 후 여러분이 작업할 폴드에서 압축 파일을 푼다.
    - 압축을 풀면 하위 폴드로 'ml-1m'가 생성된다.
    - 폴더 안에 있는 파일 중 'users.dat', 'ratings.dat, 'movies.dat' 세 개 파일을 선택해서 업로드한다.

**구글 Colaboratory 사용자**

In [ ]:
# ===== 만약 파일을 로컬 파일로 저장했다면 =============================================
# --- Importing a local file
from google.colab import files

# ml-1m 파일을 업로드한다.
uploaded = files.upload()

## 데이터 불러오기

무비렌즈의 영화 평점 데이터를 판다스 데이터프레임으로 불러온다.

In [ ]:
import pandas  # as pd
import numpy   # as np <== numpy도 주로 같이 불러온다.
print('Pandas version..:', pandas.__version__)
print('NumPy version...:', numpy.__version__)

In [ ]:
cols_user = ['user_id', 'gender', 'age', 'occupation', 'zip']
cols_rating = ['user_id', 'movie_id', 'rating', 'timestamp']
cols_movie = ['movie_id', 'title', 'genres']

# read_table() 대신 read_csv()을 사용해도 사용해도 같은 결과를 가진다.
df_users = pandas.read_table('users.dat', 
  sep='::', names=cols_user, engine='python')
df_ratings = pandas.read_table('ratings.dat', 
  sep='::', names=cols_rating, engine='python')
df_movies = pandas.read_table('movies.dat', 
  sep = '::', names=cols_movie, engine='python')

In [ ]:
df_users.head()

In [ ]:
# 차원 형태를 확인한다.
df_users.shape

In [ ]:
# 결측치가 있는지 확인한다.
df_users.isna().sum()  # df_users.isna().any()로도 확인 가능하다.

In [ ]:
df_ratings.head()

In [ ]:
# 차원 형태를 확인한다.
df_ratings.shape

In [ ]:
# 결측치가 있는지 확인한다.
df_ratings.isna().any()

In [ ]:
df_movies.head()

In [ ]:
# 차원 형태를 확인한다.
df_movies.shape

In [ ]:
# 결측치가 있는지 확인한다.
df_movies.isna().sum()

## 데이터 병합

**merge()** 메소드를 사용하면 병합하려는 두 데이터프레임의 중복되는 열의 이름을 키로 사용하지만 명시적으로 병합할 열 이름을 지정해주는 것이 좋다.

In [ ]:
df_users_ratings = pandas.merge(df_ratings, df_users, on='user_id')
df_users_ratings.head()

In [ ]:
df_users_ratings.shape

In [ ]:
df = pandas.merge(df_users_ratings, df_movies, on='movie_id')
df.head()

In [ ]:
# 차원 형태를 확인한다.
df.shape

In [ ]:
# 결측치가 있는지 확인한다.
df.isna().values.any()

# 데이터 탐색 : 탐색적 통계 분석

## 성별로 각 영화의 평균 평점 계산

영화의 평균 평점을 성별로 구분해서 구해보자.

[pandas.pivot_table](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html#pandas.pivot_table)
- Create a spreadsheet-style pivot table as a DataFrame. The levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame.
- pandas.**pivot_table**(*data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False*)
    - **Parameters:**
        - ***data*** : *DataFrame*
        - ***values*** : *column to aggregate*, optional
        - ***index*** : *column*, *Grouper*, *array*, or *list of the previous*
            - If an array is passed, it must be the same length as the data. The list can contain any of the other types (except list). Keys to group by on the pivot table index. If an array is passed, it is being used as the same manner as column values.
        - ***columns*** : *column*, *Grouper*, *array*, or *list of the previous*
            - If an array is passed, it must be the same length as the data. The list can contain any of the other types (except list). Keys to group by on the pivot table column. If an array is passed, it is being used as the same manner as column values.
        - ***aggfunc*** : *function*, *list of functions*, *dict*, default **numpy.mean**
            - If list of functions passed, the resulting pivot table will have hierarchical columns whose top level are the function names (inferred from the function objects themselves) If dict is passed, the key is column to aggregate and value is function or list of functions.
    - **Returns**: *DataFrame*

In [ ]:
# --- 성별로 각 영화의 평균 평점을 계산한다.
# Your answer here

## 영화별 총 평점과 평균 평점 계산

각 영화별로 평가한 사용자 수, 평점 총합, 평균 평점을 구해보자.

[pandas.DataFrame.pivot_table](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html#pandas.DataFrame.pivot_table)
- Create a spreadsheet-style pivot table as a DataFrame. The levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame.
- DataFrame.**pivot_table**(*self, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False**)
    - **Parameters**:
        - ***values*** : *column to aggregate*, optional
        - ***index*** : *column*, *Grouper*, *array*, or *list of the previous*
            - If an array is passed, it must be the same length as the data. The list can contain any of the other types (except list). Keys to group by on the pivot table index. If an array is passed, it is being used as the same manner as column values.
        - ***columns*** : *column*, *Grouper*, *array*, or *list of the previous*
            - If an array is passed, it must be the same length as the data. The list can contain any of the other types (except list). Keys to group by on the pivot table column. If an array is passed, it is being used as the same manner as column values.
        - ***aggfunc*** : *function*, *list of functions*, *dict*, default **numpy.mean**
            - If list of functions passed, the resulting pivot table will have hierarchical columns whose top level are the function names (inferred from the function objects themselves) If dict is passed, the key is column to aggregate and value is function or list of functions.
    - **Returns**: *DataFrame*

In [ ]:
# --- 각 영화별로 평가한 사용자 수, 평점 총합, 평균 평점을 구한다.
# Your answer here

## 1,000명 이상의 사용자가 평가한 영화 평점 분석

[pandas.core.groupby.SeriesGroupBy.value_counts](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.SeriesGroupBy.value_counts.html#pandas.core.groupby.SeriesGroupBy.value_counts)
- SeriesGroupBy.**value_counts**(*self, normalize=False, sort=True, ascending=False, bins=None, dropna=True*)

In [ ]:
# --- 1,000명 이상의 사용자가 평가한 영화 평점 분석
# Your answer here

### 여성에게 평균적으로 높은 평점을 받은 영화순으로 데이터 정렬

[pandas.DataFrame.sort_values](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html#pandas.DataFrame.sort_values)
- Sort by the values along either axis.
- DataFrame.**sort_values**(*self, by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last'*)
    - **Parameters**:
        - ***by*** : *str* or *list of str*
            - Name or list of names to sort by.
                - if axis is 0 or *'index'* then by may contain index levels and/or column labels
                - if axis is 1 or *'columns'* then by may contain column levels and/or index labels
        - ***axis*** : {0 or *'index'*, 1 or *'columns'*}, default 0
            - Axis to be sorted.
        - ***ascending*** : *bool* or *list of bool*, default **True**
            - Sort ascending vs. descending. Specify list for multiple sort orders. If this is a list of bools, must match the length of the by.
        - ***inplace*** : *bool*, default False
            - If True, perform operation in-place.
        - ***kind*** : {*'quicksort'*, *'mergesort'*, *'heapsort'*}, default *'quicksort'*
            - Choice of sorting algorithm. See also ndarray.np.sort for more information. *mergesort* is the only stable algorithm. For DataFrames, this option is only applied when sorting on a single column or label.
        - ***na_position*** : {*'first'*, *'last'*}, default *'last'*
            - Puts NaNs at the beginning if first; last puts NaNs at the end.
    - **Returns**: 
        - ***sorted_obj*** : *DataFrame* or None
            - DataFrame with sorted values if inplace=False, None otherwise.

In [ ]:
# --- 1,000명 이상의 사용자가 평가한 영화 중 여성에게 평균적으로 높은 평점을 받은 영화순으로 데이터 정렬한다.
# Your answer here

### 남성에게 평균적으로 높은 평점을 받은 영화순으로 데이터 정렬

In [ ]:
# --- 1,000명 이상의 사용자가 평가한 영화 중 남성에게 평균적으로 높은 평점을 받은 영화순으로 데이터 정렬한다.
# Your answer here

### 성별 평균 평점 차이 구하기

In [ ]:
# --- 1,000명 이상의 사용자가 평가한 영화 중 성별 평균 평점 차이 구해 남녀간 호불호가 나뉘는 영화를 조회한다.
# Your answer here

## 사용자들의 호불호가 확실히 나뉘는 영화 Top 10

[pandas.DataFrame.groupby](http://localhost:8888/notebooks/0.numpy%20pandas/TA/FIRA2018%20-%20통계/lab2/(x)pandas_visualization_lab2.ipynb)
- Group DataFrame or Series using a mapper or by a Series of columns.
- A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.
- DataFrame.**groupby**(*self, by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, observed=False, \**kwargs*)
    - **Returns**: *DataFrameGroupBy* or *SeriesGroupBy*
        - Depends on the calling object and returns groupby object that contains information about the groups.
        
[pandas.core.groupby.GroupBy.std](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.std.html#pandas.core.groupby.GroupBy.std)
- Compute standard deviation of groups, excluding missing values.
- For multiple groupings, the result index will be a MultiIndex.
- GroupBy.**std**(*self*, *ddof=1*, \**args*, \*\**kwargs*)
    - **Parameters**:	
        - ***ddof*** : *integer*, default 1
            - degrees of freedom
    - **Returns**: *Series* or *DataFrame*
        - Standard deviation of values within each group.

In [ ]:
# --- 1,000명 이상의 사용자가 평가한 영화 중 사용자들의 호불호가 확실히 나뉘는 Top 10 영화를 조회한다.
# Your answer here

## Lab: 탐색적 통계 분석

사용자별로 영화에 대한 평점을 계산한 뒤 아래 통계치를 구해보자.

In [ ]:
# import pandas
# import numpy

# cols_user = ['user_id', 'gender', 'age', 'occupation', 'zip']
# cols_rating = ['user_id', 'movie_id', 'rating', 'timestamp']
# cols_movie = ['movie_id', 'title', 'genres']

# # read_table() 대신 read_csv()을 사용해도 사용해도 같은 결과를 가진다.
# df_users = pandas.read_table('users.dat', 
#   sep='::', names=cols_user, engine='python')
# df_ratings = pandas.read_table('ratings.dat', 
#   sep='::', names=cols_rating, engine='python')
# df_movies = pandas.read_table('movies.dat', 
#   sep = '::', names=cols_movie, engine='python')

# df = pandas.merge(pandas.merge(df_ratings, df_users, on='user_id'), 
#                   df_movies, on='movie_id')

### 문제 1 : 각 사용자 별로 평가한 영화의 수에 대한 기초통계량을 구한다.

최솟값(min), 최댓값(max), 평균값(mean), 표준편차(std)

**문제 1 답**

In [ ]:
# Your answer here

### 문제 2 : 평가한 영화의 수가 50개 이상인 사용자들에 대한 기초통계량을 구한다.

1. 여성 사용자들의 평균 평점과 남성 사용자들의 평균 평점을 비교한다.
1. 평균적으로 높은 평점을 부여하는 사용자를 확인한다.
1. 평균적으로 낮은 평점을 부여하는 사용자를 확인한다.
1. 영화마다 다양한 평점을 부여하는 사용자를 확인한다.

**문제 2-1 답 : 여성 사용자들과 남성 사용자들의 평균 평점을 비교**

In [ ]:
# Your answer here

**문제 2-2 답 : 평균적으로 높은 평점을 부여하는 사용자**

In [ ]:
# Your answer here

**문제 2-3 답 : 평균적으로 낮은 평점을 부여하는 사용자**

In [ ]:
# Your answer here

**문제 2-4 답 : 영화마다 다양한 평점을 부여하는 사용자**

In [ ]:
# Your answer here

# 데이터 분석 : 도표 그리기

분석에 필요한 모듈들을 불러온다.

In [ ]:
# import pandas  # as pd
# import numpy   # as np 

# data_folder = 'data/ml-1m/'  
# cols_user = ['user_id', 'gender', 'age', 'occupation', 'zip']
# cols_rating = ['user_id', 'movie_id', 'rating', 'timestamp']
# cols_movie = ['movie_id', 'title', 'genres']

# # read_table() 대신 read_csv()을 사용해도 사용해도 같은 결과를 가진다.
# df_users = pandas.read_table(
#     data_folder + 'users.dat', sep='::', 
#     names=cols_user, engine='python')
# df_ratings = pandas.read_table(
#     data_folder + 'ratings.dat', sep='::', 
#     names=cols_rating, engine='python')
# df_movies = pandas.read_table(
#     data_folder + 'movies.dat', sep = '::', 
#     names=cols_movie, engine='python')

# df = pandas.merge(pandas.merge(df_ratings, df_users, on='user_id'), 
#                   df_movies, on='movie_id')

In [ ]:
import seaborn
import matplotlib
from matplotlib import pyplot

print('Seaborn version......:', pandas.__version__)
print('Matplotlib version...:', matplotlib.__version__)

In [ ]:
# Retina 스크린을 장착한 컴퓨터인 경우 아래 매직 코드를 사용해 고화질 도표를 생성할 수 있다.
%config InlineBackend.figure_format = 'retina'

## 사용자 평가가 가장 많은 영화의 평점 분포

In [ ]:
# --- 사용자가 가장 많이 평가한 영화는?
# Your answer here

In [ ]:
# --- 사용자가 가장 많이 평가한 영화만 따로 데이터프레임으로 추출해서 인덱스를 기본값으로 지정한다.
# Your answer here
df_most_rated = (__TOD__)
print(df_most_rated)

In [ ]:
# --- 사용자가 가장 많이 평가한 영화의 평점을 도표로 작성한다.
# Your answer here

In [ ]:
# --- 사용자가 가장 많이 평가한 영화의 평점을 성별로 구분한 도표를 작성한다.
df_most_rated_count_by_gender = (__TODO__)

seaborn.barplot(data=df_most_rated_count_by_gender,
                x='rating', y='percentage', 
                hue='gender')
pyplot.title(f'Rating distribution by gender for ' 
             f'{df_most_rated.title[0]}')  # 
pyplot.show();

### 요약통계량 계산

In [ ]:
# --- 사용자가 가장 많이 평가한 영화의 기초 통계량을 구한다.
# Your answer here

## Lab: 기술 통계량 도표 그리기

In [ ]:
# import pandas  # as pd
# import numpy   # as np 

# data_folder = 'data/ml-1m/'  
# cols_user = ['user_id', 'gender', 'age', 'occupation', 'zip']
# cols_rating = ['user_id', 'movie_id', 'rating', 'timestamp']
# cols_movie = ['movie_id', 'title', 'genres']

# # read_table() 대신 read_csv()을 사용해도 사용해도 같은 결과를 가진다.
# df_users = pandas.read_table(
#     data_folder + 'users.dat', sep='::', 
#     names=cols_user, engine='python')
# df_ratings = pandas.read_table(
#     data_folder + 'ratings.dat', sep='::', 
#     names=cols_rating, engine='python')
# df_movies = pandas.read_table(
#     data_folder + 'movies.dat', sep = '::', 
#     names=cols_movie, engine='python')

### 문제 1 : 300명 이상의 사용자가 평가한 영화 중 평점이 가장 다양한 영화를 선택하여 다음 통계치를 구해보자.

1. 해당 영화의 평점 분포를 도표로 작성하기
1. 해당 영화의 성별 평점 분포를 도표로 작성하기

**문제 1-1 답 : 해당 영화의 평점 분포를 도표로 작성하기**

In [ ]:
# Your answer here

**문제 1-2 답 : 해당 영화의 성별 평점 분포를 도표로 작성하기**

In [ ]:
# Your answer here

### 문제 2 : 영화의 장르 분포를 도표로 작성하기

1. (각 장르별 영화의 개수) 각 장르별로  영화가 몇 개 있는지 도표로 나타낸다. 이때 영화가 가장 많은 장르부터 내림차순으로 정렬하여 도표로 작성한다.
1. (각 장르별 평가의 개수) 각 장르별로 사용자 평가가 몇 개인지 도표로 나타낸다. 이때 사용자 평가가 많은 장르부터 내림차순으로 정렬하여 도표로 작성한다.

**문제 2-1 답 : 영화의 장르 분포를 도표로 작성하기**

In [ ]:
# Your answer here

**문제 2-2 답 : 사용자 평가의 장르 분포를 도표로 작성하기**

In [ ]:
# Your answer here

### 문제 3 : 사용자에 관한 다음 통계치를 구해보자.

1. 사용자의 나이 분포를 도표로 작성하기
1. 사용자의 성별 나이 분포를 도표로 작성하기
1. 사용자의 나이와 직업에 대한 이차원 분할표 만들기

**문제 3-1 답 : 사용자의 나이 분포를 도표로 작성하기**

In [ ]:
# Your answer here

**문제 3-2 답 : 사용자의 성별 나이 분포를 도표로 작성하기**

In [ ]:
# Your answer here

**문제 3-3 답 : 사용자의 나이와 직업에 대한 이차원 분할표 만들기**

In [ ]:
# Your answer here

- - -
# <font size=5, color='orange'>THE END</font>